@import url(preview.css);
@import url(product.css);
* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  font-size: 14px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.clearfix:after {
  display: block;
  content: '.';
  height: 0;
  clear: both;
  visibility: hidden; }

.nav-side {
  position: relative;
  width: 100%;
  height: 40px;
  background: #666666;
  z-index: 99; }
  .nav-side .nav-side-container {
    height: 100%; }
    .nav-side .nav-side-container ul {
      height: 100%; }
    .nav-side .nav-side-container .btn {
      box-sizing: border-box;
      width: 20%;
      height: 100%;
      text-align: center;
      float: left; }
      .nav-side .nav-side-container .btn img {
        display: inline-block;
        height: 26px; }
    .nav-side .nav-side-container .btn + .btn {
      border-left: 1px solid #a2a2a2; }
    .nav-side .nav-side-container .btn.active {
      background: #ff0000; }
  @media screen and (max-width: 768px) {
    .nav-side .nav-side-container .btn a img {
      height: 16px; } }
  @media screen and (max-width: 414px) {
    .nav-side .nav-side-container .btn {
      padding: 6px 2px; }
      .nav-side .nav-side-container .btn a img {
        height: 14px; }
    .nav-side .nav-side-container .btn-cart {
      position: relative; }
      .nav-side .nav-side-container .btn-cart p {
        display: none;
        font-size: 12px; }
      .nav-side .nav-side-container .btn-cart .cart-num {
        display: block;
        position: absolute;
        top: 10px;
        left: 30px; } }

#menu {
  position: relative;
  width: 100%;
  height: 60px;
  background-image: url("../img/BG-RUN.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-left: 80px;
  z-index: 99;
  margin-bottom: 10px; }
  #menu section {
    height: 100%;
    line-height: 60px;
    margin-right: 30px;
    float: left; }
  #menu .logo {
    width: 140px;
    height: 100%; }
    #menu .logo a img {
      width: 100%; }
  #menu .sub .sub-section {
    padding-left: 10px;
    margin-right: 60px;
    display: inline-block; }
    #menu .sub .sub-section p {
      font-size: 16px;
      line-height: 14px;
      color: #fff; }
  #menu .sub .sub-section:hover p {
    color: #969696; }
  #menu .search-but {
    display: none;
    height: 30px;
    float: right; }
    #menu .search-but .but {
      height: 30px;
      width: 100px;
      line-height: 0; }
  #menu .search {
    position: relative;
    width: 220px;
    height: 30px;
    margin-top: 15px; }
    #menu .search .search-input {
      background-color: #E4E4E4;
      width: 220px;
      height: 30px;
      line-height: 30px;
      padding-left: 20px;
      border: none;
      font-size: 14px;
      border-radius: 2px;
      display: block; }
    #menu .search .search-btn {
      position: absolute;
      top: 0px;
      right: 5px;
      width: 25px;
      height: 25px;
      background: inherit;
      font-size: 20px;
      padding: 0;
      vertical-align: baseline; }
      #menu .search .search-btn i {
        width: 26px;
        height: 26px; }
  #menu .tel {
    width: 200px;
    float: right; }
    #menu .tel .tel-logo {
      display: inline-block;
      margin-top: 16px;
      margin-right: 10px;
      width: 100%;
      height: 100%;
      background: url("../img/menu-tel.png") no-repeat;
      background-size: 100% auto; }
  @media screen and (max-width: 1200px) {
    #menu .sub .sub-section {
      padding-left: 15px;
      margin-right: 50px; }
    #menu section {
      margin-right: 10px; }
    #menu .search {
      float: left; }
    #menu .tel {
      width: 150px;
      margin-top: 8px;
      height: 20px;
      float: right; } }
  @media screen and (max-width: 992px) {
    #menu {
      padding-left: 20px; }
      #menu section {
        margin-right: 30px; }
      #menu .search {
        float: right; }
        #menu .search .search-input {
          width: 220px;
          top: 60px; }
      #menu .tel {
        width: 150px;
        height: 40px;
        margin-top: 20px;
        float: right; }
        #menu .tel .tel-logo {
          margin-top: 0; }
      #menu .sub {
        display: none; } }
  @media screen and (max-width: 768px) {
    #menu {
      padding-left: 0;
      text-align: center; }
      #menu .search {
        padding: 0;
        margin: 0 0 0 30px; }
        #menu .search .search-input {
          top: 50px; }
      #menu .logo {
        width: 150px;
        height: 40px;
        display: inline-block;
        margin-left: 10px; }
      #menu .sub {
        float: none; }
        #menu .sub .sub-section {
          margin-right: 20px; }
          #menu .sub .sub-section a p {
            font-size: 12px; }
      #menu .search {
        float: left;
        width: 211px;
        margin: 0;
        margin-top: 15px;
        background: inherit;
        text-align: center; }
        #menu .search .search-input {
          width: 211px;
          margin-left: 0; }
      #menu .tel {
        width: 140px;
        height: 20px;
        margin-right: 5px;
        top: 12px;
        margin-top: 5px;
        float: right; }
        #menu .tel .tel-logo {
          margin: 0; } }
  @media screen and (max-width: 580px) {
    #menu section {
      margin-right: 10px; }
    #menu .logo {
      margin-left: 0;
      width: 140px; }
    #menu .search {
      float: left;
      padding: 0;
      margin: 0;
      margin-top: 15px;
      width: 150px;
      height: 30px; }
      #menu .search .search-input {
        width: 150px; }
    #menu .tel {
      right: -2px;
      width: 125px;
      float: right;
      top: 15px; } }
  @media screen and (max-width: 465px) {
    #menu .logo {
      margin-left: 0px;
      width: 120px; }
    #menu .search {
      width: 110px; }
      #menu .search .search-input {
        width: 110px;
        height: 30px;
        padding-left: 10px;
        font-size: 12px; }
      #menu .search .search-btn {
        font-size: 15px; }
    #menu .tel {
      width: 120px;
      margin-left: 20px; } }
  @media screen and (max-width: 413px) {
    #menu section {
      margin-right: 5px; }
    #menu .logo {
      margin-right: 0;
      width: 115px; }
    #menu .search-but {
      display: block;
      float: right; }
      #menu .search-but .but {
        height: 25px;
        width: 50px;
        font-size: 12px;
        border-radius: 5px; }
    #menu .search {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: 0; }
      #menu .search form {
        height: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      #menu .search .search-input {
        width: 100%;
        height: 0;
        line-height: 20px;
        font-size: 14px;
        border-radius: 0; }
      #menu .search .search-btn {
        visibility: hidden;
        font-size: 12px;
        z-index: 99; }
    #menu .search.active form {
      height: 20px; }
    #menu .search.active .search-input {
      height: 20px; }
    #menu .search.active .search-btn {
      visibility: visible; }
    #menu .tel {
      position: absolute;
      top: 0;
      width: 115px;
      left: 110px; }
      #menu .tel .tel-logo {
        margin-right: 0; } }

@media screen and (max-width: 1200px) {
  #menu {
    padding-left: 5px; } }
.ad-prime .carousel-indicators {
  bottom: 0; }
  .ad-prime .carousel-indicators ol {
    margin-bottom: 0; }
  .ad-prime .carousel-indicators li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    border: none;
    margin: 0 6px; }
  .ad-prime .carousel-indicators li.active {
    background: #ccc; }
@media screen and (max-width: 768px) {
  .ad-prime ol {
    margin-bottom: 0; }
  .ad-prime .carousel-indicators li {
    width: 15px;
    height: 15px; } }
.ad-prime .carousel-control {
  visibility: hidden; }

.nav-bottom {
  width: 100%;
  display: none;
  z-index: 9999; }
  @media screen and (max-width: 991px) {
    .nav-bottom {
      width: 100%;
      margin: 0 auto;
      display: block;
      position: fixed;
      bottom: -40px;
      height: 40px;
      background: #ccc; }
      .nav-bottom .btn + .btn {
        border-left: 1px solid #fff; }
      .nav-bottom .btn {
        float: left;
        width: 33.33333%;
        height: 100%;
        background: #68a56a;
        color: #fff; }
        .nav-bottom .btn .sub-section a p {
          color: #fff; } }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .nav-bottom {
      width: 720px; } }
  @media screen and (max-width: 767px) {
    .nav-bottom {
      right: 1px; } }

.nav-bottom.scroll {
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.hot-sale > a {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: #6d6d6d;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  display: block; }
.hot-sale .product-container {
  font-size: 62.5%;
  padding-top: 10px; }
  .hot-sale .product-container .item {
    box-sizing: border-box;
    background: #fff;
    padding: 10px 10px;
    margin: 10px 0.8%; }
    .hot-sale .product-container .item .thumbnail {
      margin: 0 auto;
      width: 100%;
      overflow: hidden; }
      .hot-sale .product-container .item .thumbnail a {
        display: block;
        width: 100%;
        height: 100%; }
        .hot-sale .product-container .item .thumbnail a img {
          width: 100%;
          height: 100%; }
    .hot-sale .product-container .item .desc p {
      text-align: left;
      margin-top: 10px;
      height: 30px;
      font-size: 1.4em; }
    @media screen and (max-width: 768px) {
      .hot-sale .product-container .item .desc p {
        min-height: 40px; } }
    @media screen and (max-width: 414px) {
      .hot-sale .product-container .item .desc p {
        width: 100%;
        font-size: 10px; } }
    .hot-sale .product-container .item .cost {
      position: relative;
      height: 60px; }
      .hot-sale .product-container .item .cost p {
        display: inline-block;
        margin-right: 20px; }
      .hot-sale .product-container .item .cost .price-count {
        position: relative;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 1.8em;
        color: #fc353a; }
      .hot-sale .product-container .item .cost .price-origin {
        position: relative;
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 1.6em;
        color: #9e9e9e; }
      .hot-sale .product-container .item .cost .price-origin:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 40%;
        width: 10%;
        height: 2px;
        background: #bfbfbf; }
  .hot-sale .product-container .item .desc p {
    height: 40px; }
@media screen and (max-width: 992px) {
  .hot-sale {
    display: none; } }

.sidebar {
  text-align: center;
  color: #fff; }
  .sidebar .nav-second {
    width: 100%;
    position: relative;
    float: left; }
  .sidebar .sui-nav {
    box-sizing: border-box; }
    .sidebar .sui-nav img {
      width: 100%; }
    .sidebar .sui-nav ul {
      padding: 0; }
      .sidebar .sui-nav ul li {
        margin-top: 10px;
        min-width: 0;
        position: relative; }
        .sidebar .sui-nav ul li ul {
          margin-top: 10px; }
        .sidebar .sui-nav ul li .toggle-cross {
          position: absolute;
          left: -20px;
          top: 20px;
          width: 16px;
          height: 16px;
          background: transparent;
          border: 2px solid #6d6d6d; }
          .sidebar .sui-nav ul li .toggle-cross span {
            position: absolute;
            left: 5px;
            top: 2px;
            display: block;
            width: 2px;
            height: 8px;
            background: #6d6d6d;
            transform: rotate(90deg); }
          .sidebar .sui-nav ul li .toggle-cross span:first-child {
            transform: rotate(90deg); }
        .sidebar .sui-nav ul li a {
          padding: 0; }
        .sidebar .sui-nav ul li .toggle-cross.active span:first-child {
          transform: rotate(0deg); }
      .sidebar .sui-nav ul li:first-child {
        margin-top: 0; }
  .sidebar .sui-nav .hot-sale > a {
    height: 50px;
    line-height: 50px;
    font-size: 18px; }
  .sidebar .sui-nav .hot-sale .ct-product {
    background: #fc353a; }
    .sidebar .sui-nav .hot-sale .ct-product .price-count {
      color: #fff !important; }
  .sidebar .sui-nav .hot-sale .ct-product .inner {
    padding: 24px 15px 10px; }
    .sidebar .sui-nav .hot-sale .ct-product .inner .desc p {
      margin: 4px 0; }
  .sidebar .sui-nav .hot-sale .ct-product .inner .btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fc353a; }
    .sidebar .sui-nav .hot-sale .ct-product .inner .btn i {
      bottom: 10px;
      font-size: 20px; }
  .sidebar .sui-nav .hot-sale .ct-product:hover .inner {
    background: #fc353a; }
  .sidebar .MenuOpen {
    display: none; }
  @media screen and (max-width: 991px) {
    .sidebar #sui_nav2 {
      display: none; }
    .sidebar .MenuOpen {
      display: block; } }

.slide-nav a {
  padding: 0 50px !important; }
.slide-nav .toggle-cross {
  left: 14px !important;
  width: 20px !important;
  height: 20px !important;
  border: 3px solid #9a9a9a !important; }
  .slide-nav .toggle-cross span {
    left: 6px !important;
    top: 3px !important;
    background: #9a9a9a !important;
    transform: rotate(0deg); }
  .slide-nav .toggle-cross span:first-child {
    transform: rotate(0deg); }
.slide-nav .toggle-cross.active span:first-child {
  transform: rotate(90deg); }

.ad-banner {
  margin-top: 20px; }
  @media screen and (max-width: 991px) {
    .ad-banner .row .item {
      width: 86.66666%;
      margin-left: 7%;
      margin-top: 20px; } }
  @media screen and (min-width: 992px) {
    .ad-banner .row .item {
      margin-left: 0; } }
  @media screen and (min-width: 992px) {
    .ad-banner .row .item a img {
      height: 110px; } }
  @media screen and (min-width: 1200px) {
    .ad-banner .row .item a img {
      height: 130px; } }
  .ad-banner .row .item a img {
    width: 100%; }

.slide-nav img {
  width: 80%; }
.slide-nav ul {
  padding: 0; }
  .slide-nav ul li {
    position: relative; }
    .slide-nav ul li .toggle-cross {
      position: absolute;
      left: 4px;
      top: 20px;
      width: 10px;
      height: 10px;
      background: #fff; }
      .slide-nav ul li .toggle-cross span {
        position: absolute;
        left: 4px;
        top: 1px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ccc; }
      .slide-nav ul li .toggle-cross span:last-child {
        transform: rotate(90deg); }
  .slide-nav ul li.active .toggle-cross span:last-child {
    transform: rotate(0); }

.ad-side ul li {
  margin-top: 10px; }
  .ad-side ul li a img {
    width: 100%; }
@media screen and (max-width: 992px) {
  .ad-side {
    display: none; } }

#hot-sale-container a:first-child {
  height: 60px;
  line-height: 60px;
  background: #1b0527;
  font-size: 24px;
  color: #fff;
  text-align: center; }
#hot-sale-container .item {
  float: left;
  width: 48.2%; }
  #hot-sale-container .item .ct-product {
    background: #8BC34A; }
    #hot-sale-container .item .ct-product .ct-product-button {
      background: #8BC34A; }
    #hot-sale-container .item .ct-product .desc p {
      font-size: 14px;
      line-height: 16px; }

.recommend-band {
  margin: 20px 0;
  background: #fff; }
  .recommend-band .swiper-container .swiper-wrapper .swiper-slide a {
    width: 100%; }
    .recommend-band .swiper-container .swiper-wrapper .swiper-slide a img {
      display: block;
      width: 100%; }
  .recommend-band .swiper-container .js_prev {
    position: absolute;
    width: 30px;
    height: 80px;
    top: 0;
    padding-top: 30px;
    padding-left: 8px;
    background: #e9e9e9;
    box-sizing: border-box;
    left: 0; }
    .recommend-band .swiper-container .js_prev img {
      height: 20px; }
  .recommend-band .swiper-container .js_next {
    position: absolute;
    width: 30px;
    height: 80px;
    top: 0;
    padding-top: 30px;
    padding-left: 8px;
    background: #e9e9e9;
    box-sizing: border-box;
    right: 0; }
    .recommend-band .swiper-container .js_next img {
      height: 20px; }
  .recommend-band .swiper-container .js_prev:hover {
    background: #989898; }
  .recommend-band .swiper-container .js_next:hover {
    background: #989898; }

#page_top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 60px;
  right: -50px;
  z-index: 10000;
  -moz-transition: right 0.4s ease,bottom 0.4s ease;
  -o-transition: right 0.4s ease,bottom 0.4s ease;
  -webkit-transition: right 0.4s ease,bottom 0.4s ease;
  transition: right 0.4s ease,bottom 0.4s ease; }
  #page_top img {
    width: 100%;
    height: 100%; }

#page_top.scroll {
  right: 10px;
  -moz-transition: right 0.4s ease,bottom 0.4s ease;
  -o-transition: right 0.4s ease,bottom 0.4s ease;
  -webkit-transition: right 0.4s ease,bottom 0.4s ease;
  transition: right 0.4s ease,bottom 0.4s ease; }

footer {
  width: 100%;
  background: #333;
  padding: 50px 40px; }
  @media screen and (max-width: 414px) {
    footer {
      padding: 30px 10px; } }
  footer .icon li {
    display: block;
    position: relative;
    width: 23%;
    height: 40px;
    float: left;
    margin-right: 21px;
    color: #CCCCCC; }
    footer .icon li h3 {
      position: absolute;
      left: 59px;
      top: 10px;
      font-size: 18px;
      margin-top: 0; }
    footer .icon li p {
      position: absolute;
      left: 59px;
      top: 30px;
      font-size: 10px;
      margin-top: 5px; }
  @media screen and (max-width: 1200px) {
    footer .icon li {
      margin-right: 10px; }
      footer .icon li img {
        width: 40px;
        height: 40px; }
      footer .icon li h3 {
        left: 50px;
        font-size: 16px; }
      footer .icon li p {
        left: 50px; } }
  @media screen and (max-width: 992px) {
    footer .icon li {
      width: 46%;
      margin-right: 0;
      margin-bottom: 40px; }
    footer .icon li:first-child {
      margin-right: 0; }
    footer .icon li:last-child {
      margin-left: 0; } }
  @media screen and (max-width: 599px) {
    footer .icon li {
      width: 90%;
      float: left; }
    footer .icon li:first-child {
      margin-right: 0px; } }
  @media screen and (max-width: 414px) {
    footer .icon li {
      width: 90%;
      float: left; }
      footer .icon li h3 {
        left: 50px;
        top: 2px;
        font-size: 16px; }
      footer .icon li p {
        left: 50px;
        top: 18px;
        font-size: 10px; }
      footer .icon li img {
        width: 40px;
        height: 40px; }
    footer .icon li:last-child {
      margin-bottom: 0; } }
  footer .service {
    margin-top: 40px; }
    footer .service .list li ul {
      margin-top: 20px;
      padding-left: 36px; }
      footer .service .list li ul li a {
        color: #666; }
      @media screen and (max-width: 414px) {
        footer .service .list li ul li a {
          font-size: 14px; } }
    footer .service .qrcode {
      text-align: center; }
      footer .service .qrcode img {
        margin-right: 20px; }
    @media screen and (max-width: 1200px) {
      footer .service .qrcode img {
        margin-right: 0; } }
    @media screen and (max-width: 992px) {
      footer .service .qrcode img {
        margin: 20px !important; } }
  footer .copy-right {
    margin-top: 10px;
    text-align: center;
    color: #999; }

.title h1 {
  text-align: center; }

.first-characters {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border-top: 4px solid #1b0527;
  border-bottom: 4px solid #1b0527;
  font-size: 18px; }
  .first-characters a {
    margin: 0 8px; }
  .first-characters a.underline {
    text-decoration: underline;
    cursor: pointer; }
  .first-characters a.underline:hover {
    color: #fc353a; }

.brands .character {
  float: left;
  width: 10%;
  font-size: 60px;
  font-weight: 800;
  text-align: center; }
.brands .brand {
  width: 90%;
  min-height: 100px;
  padding: 10px 100px;
  float: left;
  border-bottom: 1px solid #000; }
  @media screen and (max-width: 768px) {
    .brands .brand {
      padding: 10px 80px; } }
  @media screen and (max-width: 414px) {
    .brands .brand {
      padding: 10px 20px; } }
  .brands .brand .item {
    position: relative;
    width: 30%;
    height: 170px;
    margin: 10px 10px;
    padding: 30px 20px 40px 20px;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center; }
    .brands .brand .item a {
      display: block; }
      .brands .brand .item a img {
        max-width: 100%;
        max-height: 98px; }
    .brands .brand .item .brand-name {
      padding: 0 10px;
      position: absolute;
      word-wrap: break-word;
      width: 100%;
      left: 0;
      bottom: 10px;
      margin-top: 20px;
      text-align: center;
      font-size: 15px; }
    @media screen and (max-width: 992px) {
      .brands .brand .item {
        width: 45.5%; } }
    @media screen and (max-width: 768px) {
      .brands .brand .item {
        width: 100%;
        height: 160px;
        padding: 20px 10px 0 10px; } }

/*# sourceMappingURL=brand.css.map */
