* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    font-size: 14px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

$mainred: #fc353a;
$darkred: #f15d86;
$maingreen: #cddc39;
$mainblue: #00bcd4;
$mainblack: #1b0527;

@mixin transition {
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

@mixin transition-fast {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


@mixin banner-title {
    width: 100%;
    background: #fff;
    border: 10px solid #999;
    text-align: center;
    margin-top: 20px;
    h1,h2,h3,h4,h5,h6 {
        margin: 4px 0;
    }
    .floor-num {
        padding-top: 0;
        font-size: 50px;
        color: #999;
    }
    .floor-name {
        position: relative;
        h4 {
            max-width: 250px;
            font-size: 24px;
            font-weight: 800;
        }
        h5 {
            text-transform: Uppercase;
        }
        img {
            width: 50px;
            height: 50px;
            top: 3px;
            position: absolute;
            right: -70px;
        }
    }
}

@mixin product {
    font-size: 62.5%;
    padding-top: 10px;
    .item {
        box-sizing: border-box;
        background: #fff;
        padding: 10px 10px;
        margin: 10px 0.8%;
        .thumbnail {
            margin: 0 auto;
            width: 100%;
            overflow: hidden;
            
            a {
                display: block;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .desc {
            p {
                text-align: left;
                margin-top: 10px;
                height: 30px;
                font-size: 1.4em;
            }
            @media screen and (max-width: 768px) {
                p {
                    min-height: 40px;
                }
            }
            @media screen and (max-width: 414px) {
                p {
                    width: 100%;
                    font-size: 10px;
                }
            }
        }
        .cost {
            position: relative;
            height: 60px;
            p {
                display: inline-block;
                margin-right: 20px;
            }
            .price-count {
                position: relative;
                margin: 0;
                width: 100%;
                text-align: center;
                font-size: 1.8em;
                color: $mainred;
            }
            .price-origin {
                position: relative;
                width: 100%;
                margin: 0;
                text-align: center;
                font-size: 1.6em;
                color: #9e9e9e;
            }
            .price-origin:before {
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                left: 40%;
                width: 10%;
                height: 2px;
                background: #bfbfbf;
            }
        }
    }
}

@mixin lory {
    .frame {
        width: 94%;
        height: 80px;
        padding: 10px 0;
        margin: 0 auto;
        position: relative;
        background: #e9e9e9;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        white-space: nowrap;
    }
     
    .slides {
        display: inline-block;
        margin: 0;
    }
     
    li {
        position: relative;
        display: inline-block;
    }
    .js_slide {
        height: 60px;
        margin: 0 20px;
        background: #000;
        color: #fff;
        img {
            height: 60px;
        }
    }
}

.clearfix:after {
    display: block;
    content: '.';
    height: 0;
    clear: both;
    visibility: hidden;
}

.nav-side {
    position: relative;
    width: 100%;
    height: 40px;
    background: #666666;
    z-index: 99;
    .nav-side-container {
        height: 100%;
        ul {
            height: 100%;
        }
        .btn{
            box-sizing: border-box;
            width: 20%;
            height: 100%;
            text-align: center;
            float: left;
            img {
                display: inline-block;
                height: 26px;
            }
        }
        .btn + .btn {
            border-left: 1px solid #a2a2a2;
        } 
        .btn.active {
            background: #ff0000;
        }
    }
    
    @media screen and (max-width: 768px) {
        .nav-side-container {
            .btn {
                a {
                    img {
                        height: 16px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 414px) {
        .nav-side-container {
            .btn {
                padding: 6px 2px;
                a {
                    img {
                        height: 14px;
                    }
                }
            }
            .btn-cart {
                position: relative;
                p {
                    display: none;
                    font-size: 12px;
                }
                .cart-num {
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 30px;
                }
            }
        }
    }
}

#menu {
    position: relative;
    width: 100%;
    height: 60px;
    background-image: url('../img/BG-RUN.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    padding-left: 80px;
    z-index: 99;
    margin-bottom: 10px;
    section {
        height: 100%;
        line-height: 60px;
        margin-right: 30px;
        float: left;
    }
    .logo {
        width: 140px;
        height: 100%;
        a {
            img {
                width: 100%;
            }
        }
    }
    .sub {
        .sub-section {
            padding-left: 10px;
            margin-right: 60px;
            display: inline-block;
            p {
                font-size: 16px;
                line-height: 14px;
                color: #fff;
            }
        }
        .sub-section:hover {
            p {
                color: #969696;
            }
        }
    }

    .search-but{
       display:none;height:30px;float:right;
        .but{
            height:30px;width:100px;line-height:0;
        }
    } 
    
    .search {position: relative;width: 220px;height: 30px;margin-top: 15px;
        .search-input {
            background-color: #E4E4E4;
            width: 220px;
            height: 30px;
            line-height: 30px;
            padding-left: 20px;
            border: none;
            font-size: 14px;
            border-radius: 2px;
            display: block;
        }
        .search-btn {
            position: absolute;
            top:0px;
            right:5px;
            width: 25px;
            height: 25px;
            background: inherit;
            // color: #6F6F78;
            font-size: 20px;
            padding: 0;
            vertical-align: baseline;
            i {
                width: 26px;
                height: 26px;
            }
        }
    }
    .tel {
        width: 200px;
        float: right;
        .tel-logo {
            display: inline-block;
            margin-top: 16px;
            margin-right: 10px;
            width: 100%;
            height: 100%;
            background: url('../img/menu-tel.png') no-repeat;
            background-size: 100% auto;
        }
    }
    @media screen and (max-width: 1200px) {
        .sub{
            .sub-section{
                padding-left: 15px;
                margin-right: 50px;
            }
        }
        section {
            margin-right: 10px;
        }
        .search {
            float: left;
//            margin-top: 5px;
        }
        .tel {
            width: 150px;
            margin-top: 8px;
            height: 20px;
            float: right;
            .tel-logo {
            }
        }
    }
    @media screen and (max-width: 992px) {
        section{
            margin-right: 30px;
        }
        padding-left: 20px;
        .search {
              float: right;
           
            .search-input {
                width: 220px;
              
               
//                position: absolute;
                top: 60px;
            }
        }
        .tel {
            width: 150px;
            height: 40px;
            margin-top: 20px;
//            margin-left: 60px;
            float: right;
            .tel-logo {
                margin-top: 0;
            }
        }
        .sub {
            display: none;
        }
    }
    @media screen and (max-width: 768px) {
      
        padding-left: 0;
        text-align: center;
        .search {
            padding:0;
          
            margin:0 0 0 30px;
            .search-input {
//                position: absolute;
                top: 50px;
            }
        }
        .logo {
            width: 150px;
            height: 40px;
            display: inline-block;
            margin-left: 10px;
        }
        .sub {
            // display: inline-block;
            float: none;
            .sub-section {
                margin-right: 20px;
                a {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
        .search {
            float: left;

            width: 211px;
            margin: 0;
//            margin-right: 10px;
            margin-top: 15px;
            background: inherit;

            text-align: center;
            .search-input {
                width: 211px;
                margin-left: 0;
            }
        }
        .tel {
           
            width: 140px;
            height: 20px;
           margin-right:5px;
            top: 12px;
            margin-top: 5px;
            float: right;
            .tel-logo {
                margin: 0;
            }
        }
    }
    //508
    @media screen and (max-width: 580px) {
        section{
            margin-right: 10px;
        }
        .logo{margin-left: 0;width: 140px;}
        .search {
            float: left;
            padding: 0;
            margin: 0;
            margin-top: 15px;
//            margin-top: 10px;
            width: 150px;
            height: 30px;
            .search-input {
                width: 150px;
            }
        }
        .tel {
            right:-2px;width: 125px;float: right;top:15px;
        }
    }
    ///414
    @media screen and (max-width: 465px) {
        .logo {
            margin-left: 0px;width: 120px;
        }
        .search{
            width: 110px;
            .search-input{
                width: 110px;
                height: 30px;
                padding-left: 10px;font-size: 12px;
            }
            .search-btn{
                font-size: 15px;
            }
        }
        .tel{
            width:120px;margin-left: 20px;
        }
    }
    ///400
    @media screen and (max-width: 413px) {
        section{margin-right: 5px;}
        .logo {
//            margin-left: 10px;
//            margin-bottom: 10px;
            margin-right: 0;
            width: 115px;
        }
        .sub {
            .sub-section {
                a {
                    p {
                    }
                }
            }
        }
        
        .search-but{
//            float: left;
            display: block;
            float: right;
            .but{height: 25px;width: 50px;font-size: 12px;border-radius: 5px;}
        }
        
        .search {
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            height: 0;
            form {
                height: 0;
            }
            .search-input {
                width: 100%;
                height: 0;
                line-height: 40px;
                font-size: 16px;
                border-radius: 0;
                // transform: scale(0.5);
                // transform-origin: 0 0;
            }
            .search-btn {
                visibility: hidden;
                font-size: 24px;
                z-index: 99;
            }
        }
        .search.active {
            form {
                height: 40px;
            }
            .search-input {
                height: 40px;
            }
            .search-btn {
                visibility: visible;
            }
        }
        .tel {
            position: absolute;
            top: 0;
            width: 115px;
            left: 110px;
            .tel-logo {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 1200px){
    #menu{
        padding-left: 5px;
    }
}

.ad-prime {
    .carousel-indicators {
        bottom:0;
        ol{margin-bottom: 0;}
        li {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #fff;
            border: none;
            margin: 0 6px;
        }
        li.active {
            background: #ccc;
        }
    }
    @media screen and (max-width: 768px){
        ol{margin-bottom: 0;}
        .carousel-indicators{
            
            li{
            width: 15px;height: 15px;
          }  
        }
    
    }
    .carousel-control {
        visibility: hidden;    
    }
}


.nav-bottom {
    width: 100%;
    display: none;
    z-index: 9999;
    @media screen and (max-width: 991px) {
        width: 100%;
        margin: 0 auto;
        display: block;
        position: fixed;
        bottom: -40px;
        height: 40px;
        background: #ccc;
        .btn + .btn {
            border-left: 1px solid #fff;
        }
        .btn {
            float: left;
            width: 33.33333%;
            height: 100%;
            background: #68a56a;
            color: #fff;
            .sub-section {
                a {
                    p {
                        color: #fff;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) and (min-width: 768px) {
        width: 720px;
    }
    @media screen and (max-width: 767px) {
        right: 1px;
    }

}

.nav-bottom.scroll {
    bottom: 0;
    @include transition-fast;
}

.hot-sale {
    >a {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        background: #6d6d6d;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        display: block;
    }
    .product-container {
        @include product;
        .item {
            .desc {
                p {
                    height: 40px;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.sidebar {
    // padding-left: 30px;
    text-align: center;
    color: #fff;
    .nav-second {
        width: 100%;
        position: relative;
        float: left;
    }
    .sui-nav {
        box-sizing: border-box;
        img {
            width: 100%;
        }
        ul {
            padding: 0;
            li {
                ul {
                    margin-top: 10px;
                }
                margin-top: 10px;
                min-width: 0;
                position: relative;
                .toggle-cross {
                    position: absolute;
                    left: -20px;
                    top: 20px;
                    width: 16px;
                    height: 16px;
                    background: transparent;
                    border: 2px solid #6d6d6d;
                    span {
                        position: absolute;
                        left: 5px;
                        top: 2px;
                        display: block;
                        width: 2px;
                        height: 8px;
                        background: #6d6d6d;
                        transform: rotate(90deg);
                    }
                    span:first-child {
                        transform: rotate(90deg);
                    }
                }
                a {
                    padding: 0;
                }
                .toggle-cross.active {
                    span:first-child {
                        transform: rotate(0deg);
                    }
                }
            }
            li:first-child {
                margin-top: 0;
            }
        }
    }
    .sui-nav {
        .hot-sale {
            > a {
                height: 50px;
                line-height: 50px;
                font-size: 18px;
            }
            .ct-product {
                background: $mainred;
                .price-count {
                    color: #fff !important;
                }
            }
            .ct-product .inner {
                padding: 24px 15px 10px;
                .desc {
                    p {
                        margin: 4px 0;
                    }
                }
            }
            .ct-product .inner .btn {
                width: 40px;
                height: 40px;
                line-height: 40px;
                background: #fc353a;
                i{
                    bottom: 10px;
                    font-size: 20px;
                }
            }
            .ct-product:hover .inner{
                background: #fc353a;
            }
        }
    }
    .MenuOpen {
        display: none;
    }
    @media screen and (max-width: 991px) {
        #sui_nav2 {
            display: none;
        }
        .MenuOpen {
            display: block;
        }
    }
}

.slide-nav {
    a {
        padding: 0 50px !important;
    }
    .toggle-cross {
        left: 14px !important;
        width: 20px !important;
        height: 20px !important;
        border: 3px solid #9a9a9a !important;
        span {
            left: 6px !important;
            top: 3px !important;
            background: #9a9a9a !important;
            transform: rotate(0deg);
        }
        span:first-child {
            transform: rotate(0deg);
        }
    }
    .toggle-cross.active {
        span:first-child {
            transform: rotate(90deg);
        }
    }
}

.ad-banner {
    margin-top: 20px;
    .row {
        // .item+.item {
        // }
        // .col-xs-8 {
        //     width: 86.66666% !important;
        // }
        .item {
            @media screen and (max-width: 991px) {
                width: 86.66666%;
                margin-left: 7%;
                margin-top: 20px;
            }
            @media screen and (min-width: 992px) {
                margin-left: 0;
            }
            a {
                @media screen and (min-width: 768px) {
                    img {
                        // height: 102px;
                    }
                }
                @media screen and (min-width: 992px) {
                    img {
                        height: 110px;
                    }
                }
                @media screen and (min-width: 1200px) { 
                    img {
                        height: 130px;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.slide-nav {
    img {
        width: 80%;
    }
    ul {
        padding: 0;
        li {
            position: relative;
            .toggle-cross {
                position: absolute;
                left: 4px;
                top: 20px;
                width: 10px;
                height: 10px;
                background: #fff;
                span {
                    position: absolute;
                    left: 4px;
                    top: 1px;
                    display: block;
                    width: 2px;
                    height: 8px;
                    background: #ccc;
                }
                span:last-child {
                    transform: rotate(90deg);
                }
            }

        }
        li.active {
            .toggle-cross {
                span:last-child {
                    transform: rotate(0);
                }
            }
        }
    }
}

.ad-side {
    ul {
        li {
            margin-top: 10px;
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        display: none;
    }
}

#hot-sale-container {
    a:first-child {
        height: 60px;
        line-height: 60px;
        background: $mainblack;
        font-size: 24px;
        color: #fff;
        text-align: center;
    }
    .item {
        float: left;
        width: 48.2%;
        .ct-product {
            background: #8BC34A; 
            .ct-product-button {
                background: #8BC34A; 
            }
            .desc {
                p {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}

.recommend-band {
        margin: 20px 0;
        background: #fff;
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    a {
                        width: 100%;
                        img {
                        display: block;
                            width: 100%;
                        }
                    }
                }
            }
            @mixin slide-btn {
                position: absolute;
                width: 30px;
                height: 80px;
                top: 0;
                padding-top: 30px;
                padding-left: 8px;
                background: #e9e9e9;
                box-sizing: border-box;
                img {
                    height: 20px;
                }
            }
            .js_prev {
                @include slide-btn;
                left: 0;
            }
            .js_next {
                @include slide-btn;
                right: 0;
            }
            .js_prev:hover {
                background: #989898;
            }
            .js_next:hover {
                background: #989898;
            }
        }
    }

#page_top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: -50px;
    z-index: 10000;
    -moz-transition: right 0.4s ease,bottom 0.4s ease;
    -o-transition: right 0.4s ease,bottom 0.4s ease;
    -webkit-transition: right 0.4s ease,bottom 0.4s ease;
    transition: right 0.4s ease,bottom 0.4s ease;
    img {
        width: 100%;
        height: 100%;
    }
}

#page_top.scroll {
    right: 10px;
    -moz-transition: right 0.4s ease,bottom 0.4s ease;
    -o-transition: right 0.4s ease,bottom 0.4s ease;
    -webkit-transition: right 0.4s ease,bottom 0.4s ease;
    transition: right 0.4s ease,bottom 0.4s ease;
}


// footer start

footer {
    width: 100%;
    background: #333;
    padding: 50px 40px;
    @media screen and (max-width: 414px) {
        padding: 30px 10px;
    }

    .icon {
        li {
            display: block;
            position: relative;
            width: 23%;
            height: 40px;
            float: left;
            margin-right: 21px;
            color:#CCCCCC;
            img {
//                width: 100%;
                // height: 100%;
            }
            h3{
                position: absolute;
                left: 59px;
                top:10px;
                font-size: 18px;
                margin-top: 0;
            }
            p{
                position: absolute;
                left: 59px;
                top: 30px;
                font-size: 10px;
                margin-top: 5px;
            }
        }
        li:first-child {
            // margin-right: 80px;
        }
        @media screen and (max-width: 1200px) {
            li {
                margin-right: 10px;
                img {
                    width: 40px;
                    height: 40px;
                }
                h3 {
                    left: 50px;
                    font-size: 16px;
                }
                p {
                    left: 50px;
                }
            }
            li:first-child {
                // margin-right: 60px;
            }
        }
        @media screen and (max-width: 992px) {
            li{width: 46%;margin-right: 0;margin-bottom: 40px;}
            li:first-child{margin-right: 0;}
            li:last-child{
                margin-left: 0;
            }
        }
        @media screen and (max-width: 599px) {
            li {
                width: 90%;
                float: left;
            }
            li:first-child {
                margin-right: 0px;
            }
        }
        @media screen and (max-width: 414px) {
            li {
                width: 90%;float: left;
                h3{
                    left: 50px;top:2px;font-size: 16px;
                }
                p{left: 50px;top:18px;font-size: 10px;}
                  img{
                width: 40px;height: 40px;
            }
            }
          
            li:last-child{
                margin-bottom: 0;
            }
        }
    }
    .service {
        margin-top: 40px;
        .list {
            li {
                ul {
                    margin-top: 20px;
                    padding-left: 36px;
                    li {
                        a {
                            color: #666;
                        }
                        @media screen and(max-width:414px){
                            a{font-size: 14px;}
                        }
                    }
                }
            }
        }
        .qrcode {
            text-align: center;
            img {
                margin-right: 20px;
            }
        }
        @media screen and (max-width: 1200px) {
            .qrcode {
                img {
                    margin-right: 0;
                }
            }
        }
        @media screen and (max-width: 992px) {
            .qrcode {
                img {
                    margin: 20px !important;
                }
            }
        }
    }
    .copy-right {
        margin-top: 10px;
        text-align: center;
        color: #999;
    }
    // div {
    //     p {
    //         display: block;
    //         color: #fff;
    //         max-width: 400px;
    //         margin: 0 auto;
    //         text-align: left;
    //     }
    // }
}

// footer end




