.group {
    text-align: center;
    img {
        width: 100%;
    }
    p {
        span {
            font-size: 24px;
            color: red;
        }
    }
}

.shopping-cart-bottom {
    position: relative;
    .shopping-cart-addfast {
        width: 120px;
        position: absolute;
        top: 60px;
    }
}

.product-tab {
    .detail-tab {
        li {
            padding: 0;
            border: none;
            a {
                border: none;
                width: 100px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                // background: #ccc;
                text-align: center;
                background: #fff;
                // color: #000;
            }
        }
        li.active {
            border-top: 3px solid red;
            border-left: 1px solid #e8e8e8;
            border-right: 1px solid #e8e8e8;
            background: #fff;
            a {
                // background: #d9534f;
                // color: #fff;
            }
            a:hover {
                background: #fff;
            }
        }
        li.active {

        }
        li:hover {
            background: #fff;
            a {
                // color: #fff;
                background: #fff;
            }
            a:hover {
                // color: #fff;
            }
        }
    }
    .tab-content {
        background: #fff;
        border: 1px solid #e8e8e8;
        padding: 20px;
        text-align: left;
        
    }
}

.others {
    .title {
        background: #fff;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
        line-height: 40px;
        padding-left: 40px;
        margin-bottom: 20px;
    }
}
.swiper-container {
    .swiper-wrapper {
        .item {
            img {
                width: 100%;
            }
            p {
                font-size: 12px;
                display: block;
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis;
            }
        }
    }
}   

.thumbnail-sm {
    ul {
        li {
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }
}





