@import url(product.css);
* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  font-size: 14px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.clearfix:after {
  display: block;
  content: '.';
  height: 0;
  clear: both;
  visibility: hidden; }

.nav-side {
  position: relative;
  width: 100%;
  height: 40px;
  background: #666666;
  z-index: 99; }
  .nav-side .nav-side-container {
    height: 100%; }
    .nav-side .nav-side-container ul {
      height: 100%; }
    .nav-side .nav-side-container .btn {
      box-sizing: border-box;
      width: 20%;
      height: 100%;
      text-align: center;
      float: left; }
      .nav-side .nav-side-container .btn img {
        display: inline-block;
        height: 26px; }
    .nav-side .nav-side-container .btn + .btn {
      border-left: 1px solid #a2a2a2; }
    .nav-side .nav-side-container .btn.active {
      background: #ff0000; }
  @media screen and (max-width: 768px) {
    .nav-side .nav-side-container .btn a img {
      height: 16px; } }
  @media screen and (max-width: 414px) {
    .nav-side .nav-side-container .btn {
      padding: 6px 2px; }
      .nav-side .nav-side-container .btn a img {
        height: 14px; }
    .nav-side .nav-side-container .btn-cart {
      position: relative; }
      .nav-side .nav-side-container .btn-cart p {
        display: none;
        font-size: 12px; }
      .nav-side .nav-side-container .btn-cart .cart-num {
        display: block;
        position: absolute;
        top: 10px;
        left: 30px; } }

#menu {
  position: relative;
  width: 100%;
  height: 60px;
  background-image: url("../img/BG-RUN.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-left: 80px;
  z-index: 99;
  margin-bottom: 10px; }
  #menu section {
    height: 100%;
    line-height: 60px;
    margin-right: 30px;
    float: left; }
  #menu .logo {
    width: 140px;
    height: 100%; }
    #menu .logo a img {
      width: 100%; }
  #menu .sub .sub-section {
    padding-left: 10px;
    margin-right: 60px;
    display: inline-block; }
    #menu .sub .sub-section p {
      font-size: 16px;
      line-height: 14px;
      color: #fff; }
  #menu .sub .sub-section:hover p {
    color: #969696; }
  #menu .search-but {
    display: none;
    height: 30px;
    float: right; }
    #menu .search-but .but {
      height: 30px;
      width: 100px;
      line-height: 0; }
  #menu .search {
    position: relative;
    width: 220px;
    height: 30px;
    margin-top: 15px; }
    #menu .search .search-input {
      background-color: #E4E4E4;
      width: 220px;
      height: 30px;
      line-height: 30px;
      padding-left: 20px;
      border: none;
      font-size: 14px;
      border-radius: 2px;
      display: block; }
    #menu .search .search-btn {
      position: absolute;
      top: 0px;
      right: 5px;
      width: 25px;
      height: 25px;
      background: inherit;
      font-size: 20px;
      padding: 0;
      vertical-align: baseline; }
      #menu .search .search-btn i {
        width: 26px;
        height: 26px; }
  #menu .tel {
    width: 200px;
    float: right; }
    #menu .tel .tel-logo {
      display: inline-block;
      margin-top: 16px;
      margin-right: 10px;
      width: 100%;
      height: 100%;
      background: url("../img/menu-tel.png") no-repeat;
      background-size: 100% auto; }
  @media screen and (max-width: 1200px) {
    #menu .sub .sub-section {
      padding-left: 15px;
      margin-right: 50px; }
    #menu section {
      margin-right: 10px; }
    #menu .search {
      float: left; }
    #menu .tel {
      width: 150px;
      margin-top: 8px;
      height: 20px;
      float: right; } }
  @media screen and (max-width: 992px) {
    #menu {
      padding-left: 20px; }
      #menu section {
        margin-right: 30px; }
      #menu .search {
        float: right; }
        #menu .search .search-input {
          width: 220px;
          top: 60px; }
      #menu .tel {
        width: 150px;
        height: 40px;
        margin-top: 20px;
        float: right; }
        #menu .tel .tel-logo {
          margin-top: 0; }
      #menu .sub {
        display: none; } }
  @media screen and (max-width: 768px) {
    #menu {
      padding-left: 0;
      text-align: center; }
      #menu .search {
        padding: 0;
        margin: 0 0 0 30px; }
        #menu .search .search-input {
          top: 50px; }
      #menu .logo {
        width: 150px;
        height: 40px;
        display: inline-block;
        margin-left: 10px; }
      #menu .sub {
        float: none; }
        #menu .sub .sub-section {
          margin-right: 20px; }
          #menu .sub .sub-section a p {
            font-size: 12px; }
      #menu .search {
        float: left;
        width: 211px;
        margin: 0;
        margin-top: 15px;
        background: inherit;
        text-align: center; }
        #menu .search .search-input {
          width: 211px;
          margin-left: 0; }
      #menu .tel {
        width: 140px;
        height: 20px;
        margin-right: 5px;
        top: 12px;
        margin-top: 5px;
        float: right; }
        #menu .tel .tel-logo {
          margin: 0; } }
  @media screen and (max-width: 580px) {
    #menu section {
      margin-right: 10px; }
    #menu .logo {
      margin-left: 0;
      width: 140px; }
    #menu .search {
      float: left;
      padding: 0;
      margin: 0;
      margin-top: 15px;
      width: 150px;
      height: 30px; }
      #menu .search .search-input {
        width: 150px; }
    #menu .tel {
      right: -2px;
      width: 125px;
      float: right;
      top: 15px; } }
  @media screen and (max-width: 465px) {
    #menu .logo {
      margin-left: 0px;
      width: 120px; }
    #menu .search {
      width: 110px; }
      #menu .search .search-input {
        width: 110px;
        height: 30px;
        padding-left: 10px;
        font-size: 12px; }
      #menu .search .search-btn {
        font-size: 15px; }
    #menu .tel {
      width: 120px;
      margin-left: 20px; } }
  @media screen and (max-width: 413px) {
    #menu section {
      margin-right: 5px; }
    #menu .logo {
      margin-right: 0;
      width: 115px; }
    #menu .search-but {
      display: block;
      float: right; }
      #menu .search-but .but {
        height: 25px;
        width: 50px;
        font-size: 12px;
        border-radius: 5px; }
    #menu .search {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: 0; }
      #menu .search form {
        height: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      #menu .search .search-input {
        width: 100%;
        height: 0;
        line-height: 20px;
        font-size: 14px;
        border-radius: 0; }
      #menu .search .search-btn {
        visibility: hidden;
        font-size: 12px;
        z-index: 99; }
    #menu .search.active form {
      height: 20px; }
    #menu .search.active .search-input {
      height: 20px; }
    #menu .search.active .search-btn {
      visibility: visible; }
    #menu .tel {
      position: absolute;
      top: 0;
      width: 115px;
      left: 110px; }
      #menu .tel .tel-logo {
        margin-right: 0; } }

@media screen and (max-width: 1200px) {
  #menu {
    padding-left: 5px; } }
.ad-prime .carousel-indicators {
  bottom: 0; }
  .ad-prime .carousel-indicators ol {
    margin-bottom: 0; }
  .ad-prime .carousel-indicators li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    border: none;
    margin: 0 6px; }
  .ad-prime .carousel-indicators li.active {
    background: #ccc; }
@media screen and (max-width: 768px) {
  .ad-prime ol {
    margin-bottom: 0; }
  .ad-prime .carousel-indicators li {
    width: 15px;
    height: 15px; } }
.ad-prime .carousel-control {
  visibility: hidden; }

.nav-bottom {
  width: 100%;
  display: none;
  z-index: 9999; }
  @media screen and (max-width: 991px) {
    .nav-bottom {
      width: 100%;
      margin: 0 auto;
      display: block;
      position: fixed;
      bottom: -40px;
      height: 40px;
      background: #ccc; }
      .nav-bottom .btn + .btn {
        border-left: 1px solid #fff; }
      .nav-bottom .btn {
        float: left;
        width: 33.33333%;
        height: 100%;
        background: #68a56a;
        color: #fff; }
        .nav-bottom .btn .sub-section a p {
          color: #fff; } }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .nav-bottom {
      width: 720px; } }
  @media screen and (max-width: 767px) {
    .nav-bottom {
      right: 1px; } }

.nav-bottom.scroll {
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.hot-sale > a {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: #6d6d6d;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  display: block; }
.hot-sale .product-container {
  font-size: 62.5%;
  padding-top: 10px; }
  .hot-sale .product-container .item {
    box-sizing: border-box;
    background: #fff;
    padding: 10px 10px;
    margin: 10px 0.8%; }
    .hot-sale .product-container .item .thumbnail {
      margin: 0 auto;
      width: 100%;
      overflow: hidden; }
      .hot-sale .product-container .item .thumbnail a {
        display: block;
        width: 100%;
        height: 100%; }
        .hot-sale .product-container .item .thumbnail a img {
          width: 100%;
          height: 100%; }
    .hot-sale .product-container .item .desc p {
      text-align: left;
      margin-top: 10px;
      height: 30px;
      font-size: 1.4em; }
    @media screen and (max-width: 768px) {
      .hot-sale .product-container .item .desc p {
        min-height: 40px; } }
    @media screen and (max-width: 414px) {
      .hot-sale .product-container .item .desc p {
        width: 100%;
        font-size: 10px; } }
    .hot-sale .product-container .item .cost {
      position: relative;
      height: 60px; }
      .hot-sale .product-container .item .cost p {
        display: inline-block;
        margin-right: 20px; }
      .hot-sale .product-container .item .cost .price-count {
        position: relative;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 1.8em;
        color: #fc353a; }
      .hot-sale .product-container .item .cost .price-origin {
        position: relative;
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 1.6em;
        color: #9e9e9e; }
      .hot-sale .product-container .item .cost .price-origin:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 40%;
        width: 10%;
        height: 2px;
        background: #bfbfbf; }
  .hot-sale .product-container .item .desc p {
    height: 40px; }
@media screen and (max-width: 992px) {
  .hot-sale {
    display: none; } }

.sidebar {
  text-align: center;
  color: #fff; }
  .sidebar .nav-second {
    width: 100%;
    position: relative;
    float: left; }
  .sidebar .sui-nav {
    box-sizing: border-box; }
    .sidebar .sui-nav img {
      width: 100%; }
    .sidebar .sui-nav ul {
      padding: 0; }
      .sidebar .sui-nav ul li {
        margin-top: 10px;
        min-width: 0;
        position: relative; }
        .sidebar .sui-nav ul li ul {
          margin-top: 10px; }
        .sidebar .sui-nav ul li .toggle-cross {
          position: absolute;
          left: -20px;
          top: 20px;
          width: 16px;
          height: 16px;
          background: transparent;
          border: 2px solid #6d6d6d; }
          .sidebar .sui-nav ul li .toggle-cross span {
            position: absolute;
            left: 5px;
            top: 2px;
            display: block;
            width: 2px;
            height: 8px;
            background: #6d6d6d;
            transform: rotate(90deg); }
          .sidebar .sui-nav ul li .toggle-cross span:first-child {
            transform: rotate(90deg); }
        .sidebar .sui-nav ul li a {
          padding: 0; }
        .sidebar .sui-nav ul li .toggle-cross.active span:first-child {
          transform: rotate(0deg); }
      .sidebar .sui-nav ul li:first-child {
        margin-top: 0; }
  .sidebar .sui-nav .hot-sale > a {
    height: 50px;
    line-height: 50px;
    font-size: 18px; }
  .sidebar .sui-nav .hot-sale .ct-product {
    background: #fc353a; }
    .sidebar .sui-nav .hot-sale .ct-product .price-count {
      color: #fff !important; }
  .sidebar .sui-nav .hot-sale .ct-product .inner {
    padding: 24px 15px 10px; }
    .sidebar .sui-nav .hot-sale .ct-product .inner .desc p {
      margin: 4px 0; }
  .sidebar .sui-nav .hot-sale .ct-product .inner .btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fc353a; }
    .sidebar .sui-nav .hot-sale .ct-product .inner .btn i {
      bottom: 10px;
      font-size: 20px; }
  .sidebar .sui-nav .hot-sale .ct-product:hover .inner {
    background: #fc353a; }
  .sidebar .MenuOpen {
    display: none; }
  @media screen and (max-width: 991px) {
    .sidebar #sui_nav2 {
      display: none; }
    .sidebar .MenuOpen {
      display: block; } }

.slide-nav a {
  padding: 0 50px !important; }
.slide-nav .toggle-cross {
  left: 14px !important;
  width: 20px !important;
  height: 20px !important;
  border: 3px solid #9a9a9a !important; }
  .slide-nav .toggle-cross span {
    left: 6px !important;
    top: 3px !important;
    background: #9a9a9a !important;
    transform: rotate(0deg); }
  .slide-nav .toggle-cross span:first-child {
    transform: rotate(0deg); }
.slide-nav .toggle-cross.active span:first-child {
  transform: rotate(90deg); }

.ad-banner {
  margin-top: 20px; }
  @media screen and (max-width: 991px) {
    .ad-banner .row .item {
      width: 86.66666%;
      margin-left: 7%;
      margin-top: 20px; } }
  @media screen and (min-width: 992px) {
    .ad-banner .row .item {
      margin-left: 0; } }
  @media screen and (min-width: 992px) {
    .ad-banner .row .item a img {
      height: 110px; } }
  @media screen and (min-width: 1200px) {
    .ad-banner .row .item a img {
      height: 130px; } }
  .ad-banner .row .item a img {
    width: 100%; }

.slide-nav img {
  width: 80%; }
.slide-nav ul {
  padding: 0; }
  .slide-nav ul li {
    position: relative; }
    .slide-nav ul li .toggle-cross {
      position: absolute;
      left: 4px;
      top: 20px;
      width: 10px;
      height: 10px;
      background: #fff; }
      .slide-nav ul li .toggle-cross span {
        position: absolute;
        left: 4px;
        top: 1px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ccc; }
      .slide-nav ul li .toggle-cross span:last-child {
        transform: rotate(90deg); }
  .slide-nav ul li.active .toggle-cross span:last-child {
    transform: rotate(0); }

.ad-side ul li {
  margin-top: 10px; }
  .ad-side ul li a img {
    width: 100%; }
@media screen and (max-width: 992px) {
  .ad-side {
    display: none; } }

#hot-sale-container a:first-child {
  height: 60px;
  line-height: 60px;
  background: #1b0527;
  font-size: 24px;
  color: #fff;
  text-align: center; }
#hot-sale-container .item {
  float: left;
  width: 48.2%; }
  #hot-sale-container .item .ct-product {
    background: #8BC34A; }
    #hot-sale-container .item .ct-product .ct-product-button {
      background: #8BC34A; }
    #hot-sale-container .item .ct-product .desc p {
      font-size: 14px;
      line-height: 16px; }

.recommend-band {
  margin: 20px 0;
  background: #fff; }
  .recommend-band .swiper-container .swiper-wrapper .swiper-slide a {
    width: 100%; }
    .recommend-band .swiper-container .swiper-wrapper .swiper-slide a img {
      display: block;
      width: 100%; }
  .recommend-band .swiper-container .js_prev {
    position: absolute;
    width: 30px;
    height: 80px;
    top: 0;
    padding-top: 30px;
    padding-left: 8px;
    background: #e9e9e9;
    box-sizing: border-box;
    left: 0; }
    .recommend-band .swiper-container .js_prev img {
      height: 20px; }
  .recommend-band .swiper-container .js_next {
    position: absolute;
    width: 30px;
    height: 80px;
    top: 0;
    padding-top: 30px;
    padding-left: 8px;
    background: #e9e9e9;
    box-sizing: border-box;
    right: 0; }
    .recommend-band .swiper-container .js_next img {
      height: 20px; }
  .recommend-band .swiper-container .js_prev:hover {
    background: #989898; }
  .recommend-band .swiper-container .js_next:hover {
    background: #989898; }

#page_top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 60px;
  right: -50px;
  z-index: 10000;
  -moz-transition: right 0.4s ease,bottom 0.4s ease;
  -o-transition: right 0.4s ease,bottom 0.4s ease;
  -webkit-transition: right 0.4s ease,bottom 0.4s ease;
  transition: right 0.4s ease,bottom 0.4s ease; }
  #page_top img {
    width: 100%;
    height: 100%; }

#page_top.scroll {
  right: 10px;
  -moz-transition: right 0.4s ease,bottom 0.4s ease;
  -o-transition: right 0.4s ease,bottom 0.4s ease;
  -webkit-transition: right 0.4s ease,bottom 0.4s ease;
  transition: right 0.4s ease,bottom 0.4s ease; }

footer {
  width: 100%;
  background: #333;
  padding: 50px 40px; }
  @media screen and (max-width: 414px) {
    footer {
      padding: 30px 10px; } }
  footer .icon li {
    display: block;
    position: relative;
    width: 23%;
    height: 40px;
    float: left;
    margin-right: 21px;
    color: #CCCCCC; }
    footer .icon li h3 {
      position: absolute;
      left: 59px;
      top: 10px;
      font-size: 18px;
      margin-top: 0; }
    footer .icon li p {
      position: absolute;
      left: 59px;
      top: 30px;
      font-size: 10px;
      margin-top: 5px; }
  @media screen and (max-width: 1200px) {
    footer .icon li {
      margin-right: 10px; }
      footer .icon li img {
        width: 40px;
        height: 40px; }
      footer .icon li h3 {
        left: 50px;
        font-size: 16px; }
      footer .icon li p {
        left: 50px; } }
  @media screen and (max-width: 992px) {
    footer .icon li {
      width: 46%;
      margin-right: 0;
      margin-bottom: 40px; }
    footer .icon li:first-child {
      margin-right: 0; }
    footer .icon li:last-child {
      margin-left: 0; } }
  @media screen and (max-width: 599px) {
    footer .icon li {
      width: 90%;
      float: left; }
    footer .icon li:first-child {
      margin-right: 0px; } }
  @media screen and (max-width: 414px) {
    footer .icon li {
      width: 90%;
      float: left; }
      footer .icon li h3 {
        left: 50px;
        top: 2px;
        font-size: 16px; }
      footer .icon li p {
        left: 50px;
        top: 18px;
        font-size: 10px; }
      footer .icon li img {
        width: 40px;
        height: 40px; }
    footer .icon li:last-child {
      margin-bottom: 0; } }
  footer .service {
    margin-top: 40px; }
    footer .service .list li ul {
      margin-top: 20px;
      padding-left: 36px; }
      footer .service .list li ul li a {
        color: #666; }
      @media screen and (max-width: 414px) {
        footer .service .list li ul li a {
          font-size: 14px; } }
    footer .service .qrcode {
      text-align: center; }
      footer .service .qrcode img {
        margin-right: 20px; }
    @media screen and (max-width: 1200px) {
      footer .service .qrcode img {
        margin-right: 0; } }
    @media screen and (max-width: 992px) {
      footer .service .qrcode img {
        margin: 20px !important; } }
  footer .copy-right {
    margin-top: 10px;
    text-align: center;
    color: #999; }

.selectNumberScreen {
  width: 795px;
  height: 240px;
  margin: 20px auto; }

.screenBox dl {
  border-bottom: #e6e6e6 1px dashed;
  overflow: hidden; }

.screenBox dl.noborder {
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px; }

.screenBox dl.goodstype {
  border-bottom: #e6e6e6 1px dashed; }

.screenBox dl dt {
  float: left;
  height: 30px; }

.screenBox dl dt {
  text-align: right;
  width: 100px;
  height: 22px;
  font-weight: 600;
  padding-top: 8px; }

.screenBox dl dd {
  position: relative;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 48px;
  float: left;
  height: 25px;
  overflow: hidden;
  padding-top: 0px; }

.screenBox dl dd a {
  line-height: 14px;
  margin: 9px 25px 0px 0px;
  display: inline-block;
  color: #36c;
  overflow: hidden;
  text-decoration: none; }

.screenBox dl dd a:hover {
  background: #39c;
  color: #fff; }

.screenBox dl dd a.selected {
  background: #39c;
  color: #fff; }

.screenBox dl dd span.more {
  position: absolute;
  width: 39px;
  display: block;
  height: 14px;
  top: 6px;
  cursor: pointer;
  right: 1px; }

.screenBox dl dd span.more label {
  display: inline-block;
  cursor: pointer; }

.hasBeenSelected {
  border: #b2d1ff 1px solid;
  padding: 2px;
  margin-top: 10px;
  overflow: hidden; }

.hasBeenSelected dl {
  background: #f6f8fd;
  overflow: hidden; }

.hasBeenSelected dl dt {
  float: left; }

.hasBeenSelected dl dd {
  float: left; }

.hasBeenSelected dl dt {
  text-align: right;
  line-height: 30px;
  width: 108px;
  height: 30px;
  font-weight: 600; }

.hasBeenSelected dl dd {
  padding-bottom: 4px;
  padding-left: 0px;
  width: 676px;
  padding-right: 0px;
  padding-top: 0px; }

.selectedInfor {
  border-bottom: #f60 1px solid;
  position: relative;
  border-left: #f60 1px solid;
  padding-bottom: 1px;
  margin: 4px 10px 0px 0px;
  padding-left: 5px;
  padding-right: 17px;
  display: block;
  white-space: nowrap;
  background: #fff;
  float: left;
  height: 22px;
  border-top: #f60 1px solid;
  border-right: #f60 1px solid;
  padding-top: 1px; }

.selectedInfor label {
  color: #f60; }

.eliminateCriteria {
  line-height: 21px;
  margin-top: 4px;
  width: 80px;
  float: left;
  color: #f60;
  cursor: pointer;
  font-weight: 600; }

.selectedInfor em {
  background: url("../img/close.gif") no-repeat;
  cursor: pointer;
  display: block;
  height: 13px;
  overflow: hidden;
  position: absolute;
  right: 2px;
  top: 3px;
  width: 13px; }

.fade {
  opacity: 0.8; }

#wrap {
  margin: 0 auto; }
  #wrap .row .col-md-10 {
    padding-top: 6px; }

.ad-prime .carousel-inner .item a img {
  width: 100%; }

.ad-sub {
  margin: 10px 0; }
  .ad-sub img {
    width: 100%; }

.seconds-kill .nav {
  background: #a2a2a2; }
  .seconds-kill .nav .today {
    width: 30%; }
    .seconds-kill .nav .today a {
      text-align: right;
      background: #fc353a; }
      .seconds-kill .nav .today a h3 {
        margin: 0;
        line-height: 40px;
        padding-right: 20px; }
      .seconds-kill .nav .today a p {
        text-align: right;
        line-height: 20px;
        font-size: 1vw;
        padding-right: 20px; }
    .seconds-kill .nav .today a:hover {
      background: #fc353a; }
    @media screen and (max-width: 788px) {
      .seconds-kill .nav .today a h3 {
        font-size: 18px; } }
    @media screen and (max-width: 414px) {
      .seconds-kill .nav .today a h3 {
        font-size: 12px; } }
  .seconds-kill .nav .today.active {
    width: 30%; }
    .seconds-kill .nav .today.active a {
      background: #fc353a; }
  .seconds-kill .nav li {
    width: 12%;
    line-height: 40px;
    padding: 0;
    border: none;
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .seconds-kill .nav li a {
      margin: 0;
      height: 60px;
      padding: 0 !important;
      text-align: center;
      font-size: 3em;
      color: #fff;
      border: none; }
      @media screen and (max-width: 768px) {
        .seconds-kill .nav li a p {
          font-size: 0.5em; } }
      .seconds-kill .nav li a p {
        display: block;
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin: 0; }
    .seconds-kill .nav li a:hover {
      color: #fff;
      background: #7b7b7b; }
  .seconds-kill .nav li.active {
    width: 22%;
    background: #232323; }
    .seconds-kill .nav li.active a {
      font-weight: 400;
      color: #fff;
      background: #232323; }
.seconds-kill .tab-content .tab-pane .carousel-indicators {
  left: 66%;
  text-align: right; }
  .seconds-kill .tab-content .tab-pane .carousel-indicators li {
    width: 20px;
    height: 20px;
    margin: 0;
    padding-right: 6px;
    line-height: 20px;
    border: none;
    color: #e91e63; }
  .seconds-kill .tab-content .tab-pane .carousel-indicators li.active {
    color: #fff;
    background: #e91e63; }
.seconds-kill .tab-content .tab-pane .carousel-inner img {
  width: 100%; }

.new-product .head {
  width: 100%;
  background: #fff;
  border: 10px solid #999;
  text-align: center;
  margin-top: 20px;
  background: #000; }
  .new-product .head h1, .new-product .head h2, .new-product .head h3, .new-product .head h4, .new-product .head h5, .new-product .head h6 {
    margin: 4px 0; }
  .new-product .head .floor-num {
    padding-top: 0;
    font-size: 50px;
    color: #999; }
  .new-product .head .floor-name {
    position: relative; }
    .new-product .head .floor-name h4 {
      max-width: 250px;
      font-size: 24px;
      font-weight: 800; }
    .new-product .head .floor-name h5 {
      text-transform: Uppercase; }
    .new-product .head .floor-name img {
      width: 50px;
      height: 50px;
      top: 3px;
      position: absolute;
      right: -70px; }
  .new-product .head h2 {
    display: inline-block;
    color: red; }
  .new-product .head h3 {
    display: inline-block; }
.new-product .product-container {
  font-size: 62.5%;
  padding-top: 10px; }
  .new-product .product-container .item {
    box-sizing: border-box;
    background: #fff;
    padding: 10px 10px;
    margin: 10px 0.8%; }
    .new-product .product-container .item .thumbnail {
      margin: 0 auto;
      width: 100%;
      overflow: hidden; }
      .new-product .product-container .item .thumbnail a {
        display: block;
        width: 100%;
        height: 100%; }
        .new-product .product-container .item .thumbnail a img {
          width: 100%;
          height: 100%; }
    .new-product .product-container .item .desc p {
      text-align: left;
      margin-top: 10px;
      height: 30px;
      font-size: 1.4em; }
    @media screen and (max-width: 768px) {
      .new-product .product-container .item .desc p {
        min-height: 40px; } }
    @media screen and (max-width: 414px) {
      .new-product .product-container .item .desc p {
        width: 100%;
        font-size: 10px; } }
    .new-product .product-container .item .cost {
      position: relative;
      height: 60px; }
      .new-product .product-container .item .cost p {
        display: inline-block;
        margin-right: 20px; }
      .new-product .product-container .item .cost .price-count {
        position: relative;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 1.8em;
        color: #fc353a; }
      .new-product .product-container .item .cost .price-origin {
        position: relative;
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 1.6em;
        color: #9e9e9e; }
      .new-product .product-container .item .cost .price-origin:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 40%;
        width: 10%;
        height: 2px;
        background: #bfbfbf; }
  .new-product .product-container .item {
    width: 23.4%; }
    .new-product .product-container .item .thumbnail {
      height: 226px; }
    .new-product .product-container .item .cost {
      margin-top: 20px; }
  @media screen and (max-width: 1200px) {
    .new-product .product-container .item .thumbnail {
      height: 190px; }
    .new-product .product-container .item .cost .buy {
      float: left; } }
  @media screen and (max-width: 992px) {
    .new-product .product-container .item {
      width: 31.6%; }
      .new-product .product-container .item .thumbnail {
        height: 190px; } }
  @media screen and (max-width: 768px) {
    .new-product .product-container .item {
      width: 48.2%; }
      .new-product .product-container .item .thumbnail {
        height: 100%; }
        .new-product .product-container .item .thumbnail img {
          max-width: 100%;
          min-width: 100%; }
      .new-product .product-container .item .cost .buy {
        float: right; } }
  @media screen and (max-width: 414px) {
    .new-product .product-container .item .cost .price-count {
      left: 30%; }
    .new-product .product-container .item .cost .price-origin {
      position: absolute;
      bottom: -40px;
      left: 30%; } }

.compound-container {
  background: #fff;
  margin: 0; }
  .compound-container .product-floor {
    position: relative; }
    .compound-container .product-floor .title {
      position: relative;
      text-align: center;
      width: 100%;
      background: #fff;
      border: 10px solid #999;
      text-align: center;
      margin-top: 20px; }
      .compound-container .product-floor .title h1, .compound-container .product-floor .title h2, .compound-container .product-floor .title h3, .compound-container .product-floor .title h4, .compound-container .product-floor .title h5, .compound-container .product-floor .title h6 {
        margin: 4px 0; }
      .compound-container .product-floor .title .floor-num {
        padding-top: 0;
        font-size: 50px;
        color: #999; }
      .compound-container .product-floor .title .floor-name {
        position: relative; }
        .compound-container .product-floor .title .floor-name h4 {
          max-width: 250px;
          font-size: 24px;
          font-weight: 800; }
        .compound-container .product-floor .title .floor-name h5 {
          text-transform: Uppercase; }
        .compound-container .product-floor .title .floor-name img {
          width: 50px;
          height: 50px;
          top: 3px;
          position: absolute;
          right: -70px; }
      .compound-container .product-floor .title .floor-num {
        display: block;
        position: absolute;
        box-sizing: border-box;
        height: 100%;
        padding-top: 10px;
        margin: 0 20px 0 0;
        color: #000;
        right: 56%; }
      @media screen and (max-width: 992px) {
        .compound-container .product-floor .title .floor-num {
          right: 60%; } }
      .compound-container .product-floor .title .floor-name {
        display: inline-block; }
    .compound-container .product-floor .page {
      height: 39px; }
      .compound-container .product-floor .page nav {
        float: right;
        text-align: center; }
        .compound-container .product-floor .page nav .pagination {
          margin: 0;
          display: inline-block; }
        .compound-container .product-floor .page nav .pagination li a {
          border-radius: 5px;
          padding: 6px 10px;
          margin-right: 5px;
          background-color: #EEE9E9;
          font-size: 12px;
          color: #023894; }
        .compound-container .product-floor .page nav .pagination li a:hover {
          border: 1px solid #f25807;
          background-color: #fff; }
        .compound-container .product-floor .page nav .pagination li.active a {
          color: #fff;
          background: #fc353a; }
        .compound-container .product-floor .page nav .pagi-page {
          padding: 6px 5px; }
    .compound-container .product-floor .more {
      position: relative;
      width: 100%;
      height: 50px; }
      .compound-container .product-floor .more a {
        position: absolute;
        right: 0;
        width: 200px;
        border: 4px solid #e9e9e9;
        text-align: center;
        background: #fff; }
        .compound-container .product-floor .more a p {
          display: inline-block;
          height: 50px;
          line-height: 50px;
          margin: 0; }
        .compound-container .product-floor .more a p:first-child {
          font-size: 20px;
          color: #000; }
        .compound-container .product-floor .more a p:last-child {
          font-size: 20px;
          color: #ccc; }
      .compound-container .product-floor .more a:hover {
        background: #a7a7a7; }
        .compound-container .product-floor .more a:hover p {
          color: #fff; }
    .compound-container .product-floor .product-container {
      font-size: 62.5%;
      padding-top: 10px; }
      .compound-container .product-floor .product-container .item {
        box-sizing: border-box;
        background: #fff;
        padding: 10px 10px;
        margin: 10px 0.8%; }
        .compound-container .product-floor .product-container .item .thumbnail {
          margin: 0 auto;
          width: 100%;
          overflow: hidden; }
          .compound-container .product-floor .product-container .item .thumbnail a {
            display: block;
            width: 100%;
            height: 100%; }
            .compound-container .product-floor .product-container .item .thumbnail a img {
              width: 100%;
              height: 100%; }
        .compound-container .product-floor .product-container .item .desc p {
          text-align: left;
          margin-top: 10px;
          height: 30px;
          font-size: 1.4em; }
        @media screen and (max-width: 768px) {
          .compound-container .product-floor .product-container .item .desc p {
            min-height: 40px; } }
        @media screen and (max-width: 414px) {
          .compound-container .product-floor .product-container .item .desc p {
            width: 100%;
            font-size: 10px; } }
        .compound-container .product-floor .product-container .item .cost {
          position: relative;
          height: 60px; }
          .compound-container .product-floor .product-container .item .cost p {
            display: inline-block;
            margin-right: 20px; }
          .compound-container .product-floor .product-container .item .cost .price-count {
            position: relative;
            margin: 0;
            width: 100%;
            text-align: center;
            font-size: 1.8em;
            color: #fc353a; }
          .compound-container .product-floor .product-container .item .cost .price-origin {
            position: relative;
            width: 100%;
            margin: 0;
            text-align: center;
            font-size: 1.6em;
            color: #9e9e9e; }
          .compound-container .product-floor .product-container .item .cost .price-origin:before {
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            left: 40%;
            width: 10%;
            height: 2px;
            background: #bfbfbf; }
      .compound-container .product-floor .product-container .item {
        width: 23.4%; }
        .compound-container .product-floor .product-container .item .thumbnail {
          height: 255px; }
      @media screen and (max-width: 1200px) {
        .compound-container .product-floor .product-container .item .thumbnail {
          height: 213px; }
        .compound-container .product-floor .product-container .item .cost .buy {
          float: left; } }
      @media screen and (max-width: 992px) {
        .compound-container .product-floor .product-container .item {
          width: 31.6%; }
          .compound-container .product-floor .product-container .item .thumbnail {
            height: 190px; } }
      @media screen and (max-width: 768px) {
        .compound-container .product-floor .product-container .item {
          width: 48.2%; }
          .compound-container .product-floor .product-container .item .thumbnail {
            height: 100%; }
          .compound-container .product-floor .product-container .item .cost .buy {
            float: right; } }
  .compound-container .recommend-band {
    position: relative;
    box-sizing: border-box;
    padding: 0 30px;
    background-color: #e8e8ee; }
    .compound-container .recommend-band .frame {
      width: 94%;
      height: 80px;
      padding: 10px 0;
      margin: 0 auto;
      position: relative;
      background: #e9e9e9;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      white-space: nowrap; }
    .compound-container .recommend-band .slides {
      display: inline-block;
      margin: 0; }
    .compound-container .recommend-band li {
      position: relative;
      display: inline-block; }
    .compound-container .recommend-band .js_slide {
      height: 60px;
      margin: 0 20px;
      background: #000;
      color: #fff; }
      .compound-container .recommend-band .js_slide img {
        height: 60px; }
    .compound-container .recommend-band .swiper-container {
      padding-top: 10px; }
    .compound-container .recommend-band .swiper-button {
      top: 22px;
      height: 100%;
      background-color: #e8e8ee; }
    .compound-container .recommend-band .swiper-button:hover {
      background-color: #9c9c9c; }
    .compound-container .recommend-band .swiper-button-next {
      right: 0;
      background-image: url("../img/carousel-r-btn.png");
      background-size: 50%; }
    .compound-container .recommend-band .swiper-button-prev {
      left: 0;
      background-image: url("../img/carousel-l-btn.png");
      background-size: 50%; }
    .compound-container .recommend-band .slider {
      position: relative; }
      .compound-container .recommend-band .slider .js_prev {
        position: absolute;
        width: 30px;
        height: 80px;
        top: 0;
        padding-top: 30px;
        padding-left: 8px;
        background: #e9e9e9;
        box-sizing: border-box;
        left: 0; }
        .compound-container .recommend-band .slider .js_prev img {
          height: 20px; }
      .compound-container .recommend-band .slider .js_next {
        position: absolute;
        width: 30px;
        height: 80px;
        top: 0;
        padding-top: 30px;
        padding-left: 8px;
        background: #e9e9e9;
        box-sizing: border-box;
        right: 0; }
        .compound-container .recommend-band .slider .js_next img {
          height: 20px; }
      .compound-container .recommend-band .slider .js_prev:hover {
        background: #989898; }
      .compound-container .recommend-band .slider .js_next:hover {
        background: #989898; }

.sidebar .product-container {
  font-size: 62.5%;
  padding-top: 10px;
  padding: 0; }
  .sidebar .product-container .item {
    box-sizing: border-box;
    background: #fff;
    padding: 10px 10px;
    margin: 10px 0.8%; }
    .sidebar .product-container .item .thumbnail {
      margin: 0 auto;
      width: 100%;
      overflow: hidden; }
      .sidebar .product-container .item .thumbnail a {
        display: block;
        width: 100%;
        height: 100%; }
        .sidebar .product-container .item .thumbnail a img {
          width: 100%;
          height: 100%; }
    .sidebar .product-container .item .desc p {
      text-align: left;
      margin-top: 10px;
      height: 30px;
      font-size: 1.4em; }
    @media screen and (max-width: 768px) {
      .sidebar .product-container .item .desc p {
        min-height: 40px; } }
    @media screen and (max-width: 414px) {
      .sidebar .product-container .item .desc p {
        width: 100%;
        font-size: 10px; } }
    .sidebar .product-container .item .cost {
      position: relative;
      height: 60px; }
      .sidebar .product-container .item .cost p {
        display: inline-block;
        margin-right: 20px; }
      .sidebar .product-container .item .cost .price-count {
        position: relative;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 1.8em;
        color: #fc353a; }
      .sidebar .product-container .item .cost .price-origin {
        position: relative;
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 1.6em;
        color: #9e9e9e; }
      .sidebar .product-container .item .cost .price-origin:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 40%;
        width: 10%;
        height: 2px;
        background: #bfbfbf; }
  .sidebar .product-container .item .desc p {
    font-size: 12px;
    line-height: 12px; }
  .sidebar .product-container .item .cost p {
    font-size: 14px !important; }
  .sidebar .product-container .item .cost .price-origin:before {
    top: 16px; }

.sidebar .nav-second {
  margin-top: -20px; }
  .sidebar .nav-second .hot-sale {
    background: #6d6d6d; }
    .sidebar .nav-second .hot-sale a {
      color: #fff; }

.selectNumberScreen {
  width: 100%;
  background: #fff; }

.crumbs {
  height: 50px;
  padding: 10px 20px;
  background: #fff;
  border: 4px solid #ccc; }
  .crumbs span {
    font-size: 16px; }

.sort {
  border: 1px solid #909090;
  width: 100%;
  height: 60px;
  background-color: #F2F2F2; }
  .sort button {
    float: left;
    border: none;
    padding: 3px 10px; }
  .sort .select {
    border: none; }
  .sort a:first-child {
    background: #fc353a;
    color: #fff; }
  .sort .btn {
    width: 80px;
    height: 40px;
    position: relative;
    font-size: 18px;
    text-align: left; }
    .sort .btn i {
      position: absolute;
      top: 10px;
      right: 6px;
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/11602191503590L.png) no-repeat;
      background-size: contain; }
    .sort .btn .menu-up {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .sort .btn-success {
    background: #fc353a;
    border: none;
    margin: 6px; }
  .sort .btn-default {
    margin: 10px; }
  .sort .dropdown {
    float: left; }
  .sort .form-control {
    width: 135px;
    height: 24px;
    border: 1px solid #9C9C9C;
    font-size: 12px;
    padding: 0;
    margin: 8px 5px; }
  @media screen and (max-width: 768px) {
    .sort button {
      margin-right: 10px; } }

#article {
  background-color: #fff; }

.shaixuan {
  height: 45px;
  width: 100%;
  background-color: #E4E3E3; }
  .shaixuan img {
    float: left;
    padding: 5px; }
  .shaixuan p {
    padding: 15px 0;
    color: #000;
    line-height: 12px;
    font-size: 12px; }
  .shaixuan span {
    color: #fc353a; }

#select-list button {
  border: none; }
#select-list .select {
  position: relative;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 20px auto 15px;
  font-size: 14px; }
#select-list .select li {
  list-style: none;
  padding: 10px 0 5px 45px; }
@media screen and (max-width: 414px) {
  #select-list .select li {
    padding: 10px 0 5px 40px; } }
#select-list .select .select-list {
  border-bottom: 1px #ccc dashed; }
#select-list .select dl {
  zoom: 1;
  position: relative;
  line-height: 24px;
  margin: 0; }
#select-list .select dl:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }
#select-list .select dt {
  width: 100px;
  margin-bottom: 5px;
  position: absolute;
  top: 0;
  left: -80px;
  text-align: right;
  color: #000;
  height: 24px;
  line-height: 24px;
  font-weight: normal; }
#select-list #select1 dt {
  color: #666; }
#select-list .select dd {
  float: left;
  display: inline;
  margin: 0 0 5px 10px; }
#select-list .select button {
  display: inline-block;
  white-space: nowrap;
  height: 24px;
  padding: 0 10px 0 18px;
  text-decoration: none;
  color: #666;
  border-radius: 2px;
  background-color: inherit; }
#select-list .select button:hover {
  color: #fc353a; }
#select-list .select .selected button {
  color: #fc353a; }
#select-list .select-result dt {
  padding-left: 20px;
  left: -78px; }
#select-list .select-result dl dd {
  margin-left: 30px; }
#select-list .sel {
  width: 50px;
  height: 24px;
  text-align: center;
  color: #fff;
  padding: 3px 5px 2px 4px; }
#select-list .select-reset {
  background-color: #999999; }
#select-list .select-confirm {
  background-color: red; }
#select-list .select-no {
  color: #999; }
#select-list .select .select-result button {
  background: url("../../img/close.gif") 2px center no-repeat;
  border: 1px solid #fc353a; }
#select-list .btn-collapse {
  width: 80px;
  height: 30px;
  margin: 20px auto;
  cursor: pointer;
  border: 1px solid #ccc;
  padding-left: 10px; }
  #select-list .btn-collapse span {
    font-size: 18px; }
  #select-list .btn-collapse span:last-child {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
    color: #b3b3b3;
    transform: rotate(90deg) scale(1, 1.6); }
#select-list .btn-collapse:hover {
  background: #ccc; }
#select-list .btn-collapse.active span {
  transform: rotate(270deg); }

/*# sourceMappingURL=list.css.map */
