/* 菜单界面样式 */


.h5_page_menu .h5_component_title {
	/* animation: blink 2s infinite; */
	/* -webkit-animation: blink 2s infinite; */
}

.h5_component_menu .menu-btn  {
	animation: grow 1.3s infinite;
	-webkit-animation: grow 1.3s infinite;
}

.h5_component_menu .menu-btn:nth-child(3n) {
  /* margin-right: 0; */
}

@keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes grow {
	0%  {transform: scale(1);}
	70% {transform: scale(1.2);}
	100%{transform: scale(1);}
}