/* h5ComponentFriend 星座速配组件样式 */

.h5_component_friend {
	/* width: 232px; */
	/* height: 365px; */

}

.h5_component_friend .contain {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 5px;
	border-radius: 10px;
	/* background: #fff; */
	font-family: 'STHeiti';
	overflow: scroll;
	/* color: #41b0c4; */
}

.h5_component_friend .contain > div {
	/* width: 100%; */
	/* margin: 5px 0;  */
}

.h5_component_friend .contain > div:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.h5_component_friend .contain .myCons {
	float: left;
	margin-top: 30px;
	margin-left: 20px;
	text-align: center;
}

.h5_component_friend .contain .qFriend {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	text-align: center;
}

.h5_component_friend .contain .heart {
	position: absolute;
	left: 50%;
}

.h5_component_friend .contain .grade {
	margin-top: 100px;
}

.h5_component_friend .contain .content {
	margin-top: 30px;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
	text-align: justify;
}