/* h5的全局样式 */

.h5_page_back .h5_component_back {
	animation: float 3s infinite;
	-webkit-animation: float 3s infinite;
}

.h5_page_back .h5_component_shareArrow {
	animation: blink 2s infinite;
	-webkit-animation: blink 2s infinite;
}

@keyframes float {
	0% {bottom: 80px;}
	50% {bottom: 120px;}
	100% {bottom: 80px;}
}

@keyframes blink {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}