* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  font-size: 62.5%; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.clearfix:after {
  display: block;
  content: '.';
  height: 0;
  clear: both;
  visibility: hidden; }

.nav-side {
  position: relative;
  width: 100%;
  height: 40px;
  background: #888888;
  z-index: 999; }
  .nav-side .nav-side-container {
    padding-left: 40px; }
    .nav-side .nav-side-container .btn {
      width: 20px;
      height: 20px;
      margin: 0 10px;
      float: left; }
      .nav-side .nav-side-container .btn img {
        width: 20px;
        height: 20px; }
    .nav-side .nav-side-container .btn-cart {
      margin-right: 60px; }
      .nav-side .nav-side-container .btn-cart p {
        color: #fff;
        display: inline-block;
        width: 10px; }
    .nav-side .nav-side-container .btn-top {
      display: none; }
  @media screen and (max-width: 414px) {
    .nav-side .nav-side-container .btn {
      width: 15px;
      height: 15px;
      margin: 0 5px; }
      .nav-side .nav-side-container .btn img {
        width: 15px;
        height: 15px; }
    .nav-side .nav-side-container .btn-cart {
      position: relative; }
      .nav-side .nav-side-container .btn-cart p {
        display: none;
        font-size: 12px; }
      .nav-side .nav-side-container .btn-cart .cart-num {
        display: block;
        position: absolute;
        top: 10px;
        left: 30px; } }

#menu {
  position: relative;
  width: 100%;
  height: 80px;
  background: #1b0527;
  vertical-align: middle;
  padding-top: 18px;
  padding-left: 80px; }
  #menu section {
    margin-right: 40px;
    float: left; }
  #menu .sub .sub-section {
    height: 40px;
    border-left: 4px solid #fff;
    padding-left: 10px;
    margin-right: 60px;
    display: inline-block; }
    #menu .sub .sub-section p {
      font-size: 16px;
      line-height: 14px;
      color: #fff; }
  #menu .sub .sub-section:hover p {
    color: #969696; }
  #menu .search .search-input {
    width: 200px;
    height: 26px;
    padding-left: 20px;
    border: none;
    font-size: 14px; }
  #menu .search .search-btn {
    width: 26px;
    height: 26px;
    background: inherit;
    color: #fff;
    font-size: 20px;
    padding: 0;
    vertical-align: baseline; }
    #menu .search .search-btn i {
      width: 26px;
      height: 26px; }
  #menu .tel {
    width: 200px;
    float: right; }
    #menu .tel .tel-logo {
      float: left;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      background: url("../img/icon-tel.png") no-repeat;
      background-size: contain; }
    #menu .tel .tel-num {
      float: left;
      height: 40px;
      font-size: 24px;
      color: #fff;
      line-height: 40px; }
  @media screen and (max-width: 1200px) {
    #menu section {
      margin-right: 10px; }
    #menu .search {
      float: right; }
    #menu .tel {
      margin-top: 8px;
      height: 20px; }
      #menu .tel .tel-logo {
        width: 20px;
        height: 20px; }
      #menu .tel .tel-num {
        height: 20px;
        font-size: 16px;
        line-height: 20px; } }
  @media screen and (max-width: 992px) {
    #menu {
      padding-left: 20px; }
      #menu .search .search-input {
        width: 160px; }
      #menu .sub {
        display: none; } }
  @media screen and (max-width: 768px) {
    #menu {
      position: relative;
      padding-left: 0;
      text-align: center;
      height: auto; }
      #menu .logo {
        display: inline-block;
        margin-left: 60px; }
      #menu .sub {
        float: none; }
        #menu .sub .sub-section {
          margin-right: 20px; }
          #menu .sub .sub-section a p {
            font-size: 12px; }
      #menu .search {
        position: relative;
        padding: 10px 0;
        width: 280px;
        background: inherit;
        float: right;
        text-align: center; }
        #menu .search .search-input {
          width: 200px; }
      #menu .tel {
        position: absolute;
        right: 60px;
        top: 0; } }
  @media screen and (max-width: 400px) {
    #menu .logo {
      margin-bottom: 10px;
      margin-right: 0; }
    #menu .tel {
      left: 66%;
      top: 20px; }
      #menu .tel .tel-logo {
        margin-right: 0; }
      #menu .tel .tel-num {
        font-size: 12px; } }

.nav-bottom {
  display: none;
  z-index: 9999; }
  @media screen and (max-width: 992px) {
    .nav-bottom {
      width: 720px;
      margin: 0 auto;
      display: block;
      position: fixed;
      bottom: -40px;
      height: 40px;
      background: #ccc; }
      .nav-bottom .btn + .btn {
        border-left: 1px solid #fff; }
      .nav-bottom .btn {
        width: 33%;
        height: 100%;
        background: #68a56a;
        color: #fff; }
        .nav-bottom .btn .sub-section a p {
          color: #fff; } }
  @media screen and (max-width: 992px) and (max-width: 597px) {
    .nav-bottom {
      width: 690px; }
      .nav-bottom .btn {
        width: 32.8%; } }
  @media screen and (max-width: 992px) and (max-width: 375px) {
    .nav-bottom .btn {
      width: 32.6%; } }

  @media screen and (max-width: 768px) {
    .nav-bottom {
      width: 100%; } }

.nav-bottom.scroll {
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.hot-sale > a {
  display: block;
  width: 100%;
  height: 100%; }

.sidebar {
  text-align: center;
  color: #fff; }
  .sidebar .nav-second {
    width: 100%;
    position: relative;
    float: left; }
  .sidebar .sui-nav {
    box-sizing: border-box; }
    .sidebar .sui-nav img {
      width: 100%; }
    .sidebar .sui-nav ul {
      padding: 0; }
      .sidebar .sui-nav ul li {
        min-width: 0;
        position: relative; }
        .sidebar .sui-nav ul li .toggle-cross {
          position: absolute;
          left: -16px;
          top: 20px;
          width: 10px;
          height: 10px;
          background: #fff; }
          .sidebar .sui-nav ul li .toggle-cross span {
            position: absolute;
            left: 4px;
            top: 1px;
            display: block;
            width: 2px;
            height: 8px;
            background: #ccc; }
          .sidebar .sui-nav ul li .toggle-cross span:last-child {
            transform: rotate(90deg); }
        .sidebar .sui-nav ul li a {
          padding: 0; }
        .sidebar .sui-nav ul li .toggle-cross.active span:first-child {
          transform: rotate(90deg); }
  .sidebar .sui-nav .hot-sale > a {
    height: 50px;
    line-height: 50px;
    font-size: 18px; }
  .sidebar .sui-nav .hot-sale .ct-product {
    background: #8BC34A; }
    .sidebar .sui-nav .hot-sale .ct-product .price-count {
      color: #fff !important; }
  .sidebar .sui-nav .hot-sale .ct-product .inner {
    padding: 24px 15px 10px; }
    .sidebar .sui-nav .hot-sale .ct-product .inner .desc p {
      margin: 4px 0; }
  .sidebar .sui-nav .hot-sale .ct-product .inner .btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #8BC34A; }
    .sidebar .sui-nav .hot-sale .ct-product .inner .btn i {
      bottom: 10px;
      font-size: 20px; }
  .sidebar .sui-nav .hot-sale .ct-product:hover .inner {
    background: #8BC34A; }
  .sidebar .MenuOpen {
    display: none; }
  @media screen and (max-width: 992px) {
    .sidebar #sui_nav2 {
      display: none; }
    .sidebar .MenuOpen {
      display: block; } }

.ad-banner {
  margin: 20px 0; }
  @media screen and (max-width: 992px) {
    .ad-banner .row .item {
      margin-top: 20px; } }
  @media screen and (min-width: 992px) {
    .ad-banner .row .item {
      margin-left: 0; } }
  @media screen and (min-width: 992px) {
    .ad-banner .row .item a img {
      height: 110px; } }
  @media screen and (min-width: 1200px) {
    .ad-banner .row .item a img {
      height: 130px; } }
  .ad-banner .row .item a img {
    width: 100%; }

.slide-nav img {
  width: 80%; }
.slide-nav ul {
  padding: 0; }
  .slide-nav ul li {
    position: relative; }
    .slide-nav ul li .toggle-cross {
      position: absolute;
      left: 4px;
      top: 20px;
      width: 10px;
      height: 10px;
      background: #fff; }
      .slide-nav ul li .toggle-cross span {
        position: absolute;
        left: 4px;
        top: 1px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ccc; }
      .slide-nav ul li .toggle-cross span:last-child {
        transform: rotate(90deg); }
  .slide-nav ul li.active .toggle-cross span:last-child {
    transform: rotate(0); }

#page_top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 60px;
  right: -50px;
  z-index: 10000;
  -moz-transition: right 0.4s ease,bottom 0.4s ease;
  -o-transition: right 0.4s ease,bottom 0.4s ease;
  -webkit-transition: right 0.4s ease,bottom 0.4s ease;
  transition: right 0.4s ease,bottom 0.4s ease; }
  #page_top img {
    width: 100%;
    height: 100%; }

#page_top.scroll {
  right: 10px;
  -moz-transition: right 0.4s ease,bottom 0.4s ease;
  -o-transition: right 0.4s ease,bottom 0.4s ease;
  -webkit-transition: right 0.4s ease,bottom 0.4s ease;
  transition: right 0.4s ease,bottom 0.4s ease; }

footer {
  width: 100%;
  background: #000;
  padding: 50px 80px 50px 40px; }
  footer div p {
    display: block;
    color: #fff;
    max-width: 400px;
    margin: 0 auto;
    text-align: left; }

/*# sourceMappingURL=common.css.map */
