* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  font-size: 62.5%; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.fade {
  opacity: 0.8; }

.clearfix:after {
  display: block;
  content: '.';
  height: 0;
  clear: both;
  visibility: hidden; }

.nav-side {
  margin-right: 10px;
  position: fixed;
  width: 60px;
  height: 100%;
  right: 0;
  background: #1b0527;
  z-index: 999; }
  .nav-side .nav-side-container .btn {
    width: 100%;
    margin-bottom: 20px; }
    .nav-side .nav-side-container .btn img {
      width: 30px; }
  .nav-side .nav-side-container .btn:hover {
    background: #27bef3; }
  .nav-side .nav-side-container .btn-cart p {
    margin: 0;
    width: 30px;
    word-wrap: break-word;
    color: #fff; }
  .nav-side .nav-side-container .btn-top {
    margin-top: 60px;
    cursor: pointer; }

#wrap {
  padding-right: 60px;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    #wrap {
      width: 992px; } }
  @media screen and (max-width: 992px) {
    #wrap {
      width: 768px; } }
  @media screen and (max-width: 768px) {
    #wrap {
      width: 500px; } }
  @media screen and (max-width: 414px) {
    #wrap {
      width: 320px; } }
  @media screen and (width: 414px) {
    #wrap {
      width: 414px; } }

.ad {
  margin: 0 20px; }
  .ad .ad-prime img {
    width: 100%; }
  .ad .ad-sub {
    margin: 10px 0; }
    .ad .ad-sub img {
      width: 100%; }

.seconds-kill {
  margin: 0 20px; }
  .seconds-kill .nav {
    background: #a2a2a2; }
    .seconds-kill .nav .today {
      width: 30%; }
      .seconds-kill .nav .today a {
        text-align: right;
        background: #e91e63; }
        .seconds-kill .nav .today a h3 {
          margin: 0;
          line-height: 40px;
          padding-right: 20px; }
        .seconds-kill .nav .today a p {
          text-align: right;
          line-height: 20px;
          font-size: 1vw;
          padding-right: 20px; }
      .seconds-kill .nav .today a:hover {
        background: #e91e63; }
    .seconds-kill .nav .today.active {
      width: 30%; }
      .seconds-kill .nav .today.active a {
        background: #e91e63; }
    .seconds-kill .nav li {
      width: 12%;
      height: 60px;
      line-height: 40px;
      padding: 0;
      border: none;
      margin: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .seconds-kill .nav li a {
        margin: 0;
        height: 60px;
        padding: 0 !important;
        text-align: center;
        font-size: 3em;
        color: #fff;
        border: none; }
        @media screen and (max-width: 768px) {
          .seconds-kill .nav li a p {
            font-size: 0.5em; } }
        .seconds-kill .nav li a p {
          display: block;
          width: 100%;
          height: 30px;
          text-align: center;
          line-height: 30px;
          margin: 0; }
      .seconds-kill .nav li a:hover {
        color: #fff;
        background: #7b7b7b; }
    .seconds-kill .nav li.active {
      width: 22%;
      background: #232323; }
      .seconds-kill .nav li.active a {
        font-weight: 400;
        color: #fff;
        background: #232323; }
  .seconds-kill .tab-content .tab-pane .carousel-indicators {
    left: 66%;
    text-align: right; }
    .seconds-kill .tab-content .tab-pane .carousel-indicators li {
      width: 20px;
      height: 20px;
      margin: 0;
      padding-right: 6px;
      line-height: 20px;
      border: none;
      color: #e91e63; }
    .seconds-kill .tab-content .tab-pane .carousel-indicators li.active {
      color: #fff;
      background: #e91e63; }
  .seconds-kill .tab-content .tab-pane .carousel-inner img {
    width: 100%; }

.new-product {
  margin: 0 20px; }
  .new-product .head {
    width: 100%;
    border: 10px solid #e5e5e5;
    text-align: center;
    margin-top: 20px; }
    .new-product .head h1, .new-product .head h2, .new-product .head h3, .new-product .head h4, .new-product .head h5, .new-product .head h6 {
      margin: 10px 0; }
  .new-product .product-container {
    padding-top: 10px; }
    .new-product .product-container .item {
      box-sizing: border-box;
      background: #fff;
      padding: 10px 10px;
      margin: 10px 0.8%; }
      .new-product .product-container .item .thumbnail {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        max-height: 260px; }
        @media screen and (min-width: 768px) {
          .new-product .product-container .item .thumbnail {
            height: 160px; } }
        @media screen and (min-width: 1200px) {
          .new-product .product-container .item .thumbnail {
            height: 220px; } }
        .new-product .product-container .item .thumbnail a img {
          width: 100%;
          max-height: 200px; }
      .new-product .product-container .item .desc p {
        margin-top: 10px;
        height: 30px;
        font-size: 1.8em; }
      @media screen and (max-width: 768px) {
        .new-product .product-container .item .desc p {
          min-height: 40px; } }
      .new-product .product-container .item .cost p {
        display: inline-block;
        margin-right: 20px; }
      .new-product .product-container .item .cost .price-count {
        font-size: 2.8em;
        color: #e91e63; }
      .new-product .product-container .item .cost .price-origin {
        font-size: 2.6em;
        position: relative;
        color: #9e9e9e; }
      .new-product .product-container .item .cost .price-origin:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        width: 100%;
        height: 2px;
        background: #bfbfbf; }
      .new-product .product-container .item .cost .buy {
        float: right;
        a: hover;
          a-color: #e91e63; }
    @media screen and (max-width: 992px) {
      .new-product .product-container .item {
        width: 48%; } }
    @media screen and (min-width: 768px) {
      .new-product .product-container .item {
        width: 23.4%; } }

.compound-container {
  margin: 0 20px;
  background: #f4f4f4; }
  .compound-container .sidebar {
    margin-top: 20px;
    text-align: center;
    color: #fff; }
    .compound-container .sidebar ul li .first-nav {
      position: relative;
      height: auto;
      height: 60px;
      background: #e91e63;
      line-height: 46px;
      cursor: pointer;
      z-index: 2; }
      .compound-container .sidebar ul li .first-nav p {
        position: absolute;
        left: 0;
        top: 0; }
      .compound-container .sidebar ul li .first-nav img {
        display: block;
        width: 100%;
        max-height: 60px;
        position: absolute;
        left: 0;
        top: 0; }
    .compound-container .sidebar ul li ul li .second-nav {
      height: 0;
      line-height: 1px;
      background: #cddc39;
      line-height: 40px;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 0;
      z-index: 1; }
      .compound-container .sidebar ul li ul li .second-nav div {
        display: none; }
    .compound-container .sidebar ul li ul li .second-nav.active {
      height: 40px;
      line-height: 40px;
      opacity: 1; }
      .compound-container .sidebar ul li ul li .second-nav.active div {
        display: block; }
    .compound-container .sidebar ul li ul li ul.third-nav.active {
      opacity: 1; }
      .compound-container .sidebar ul li ul li ul.third-nav.active li {
        height: 40px; }
        .compound-container .sidebar ul li ul li ul.third-nav.active li a {
          display: block;
          height: 40px;
          line-height: 40px; }
    .compound-container .sidebar ul li ul li ul.third-nav {
      opacity: 0;
      z-index: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .compound-container .sidebar ul li ul li ul.third-nav li {
        background: #00bcd4;
        height: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .compound-container .sidebar ul li ul li ul.third-nav li a {
          display: none;
          color: #fff;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
  .compound-container .product-floor .title {
    position: relative;
    text-align: center;
    width: 100%;
    border: 10px solid #e5e5e5;
    text-align: center;
    margin-top: 20px; }
    .compound-container .product-floor .title h1, .compound-container .product-floor .title h2, .compound-container .product-floor .title h3, .compound-container .product-floor .title h4, .compound-container .product-floor .title h5, .compound-container .product-floor .title h6 {
      margin: 10px 0; }
    .compound-container .product-floor .title .floor-num {
      display: block;
      position: absolute;
      box-sizing: border-box;
      height: 100%;
      padding-top: 10px;
      margin: 0 20px 0 0;
      color: #a7a7a7;
      right: 56%; }
    @media screen and (max-width: 992px) {
      .compound-container .product-floor .title .floor-num {
        right: 60%; } }
    .compound-container .product-floor .title .floor-name {
      display: inline-block; }
  .compound-container .product-floor .product-container {
    padding-top: 10px; }
    .compound-container .product-floor .product-container .item {
      box-sizing: border-box;
      background: #fff;
      padding: 10px 10px;
      margin: 10px 0.8%; }
      .compound-container .product-floor .product-container .item .thumbnail {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        max-height: 260px; }
        @media screen and (min-width: 768px) {
          .compound-container .product-floor .product-container .item .thumbnail {
            height: 160px; } }
        @media screen and (min-width: 1200px) {
          .compound-container .product-floor .product-container .item .thumbnail {
            height: 220px; } }
        .compound-container .product-floor .product-container .item .thumbnail a img {
          width: 100%;
          max-height: 200px; }
      .compound-container .product-floor .product-container .item .desc p {
        margin-top: 10px;
        height: 30px;
        font-size: 1.8em; }
      @media screen and (max-width: 768px) {
        .compound-container .product-floor .product-container .item .desc p {
          min-height: 40px; } }
      .compound-container .product-floor .product-container .item .cost p {
        display: inline-block;
        margin-right: 20px; }
      .compound-container .product-floor .product-container .item .cost .price-count {
        font-size: 2.8em;
        color: #e91e63; }
      .compound-container .product-floor .product-container .item .cost .price-origin {
        font-size: 2.6em;
        position: relative;
        color: #9e9e9e; }
      .compound-container .product-floor .product-container .item .cost .price-origin:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        width: 100%;
        height: 2px;
        background: #bfbfbf; }
      .compound-container .product-floor .product-container .item .cost .buy {
        float: right;
        a: hover;
          a-color: #e91e63; }
    @media screen and (max-width: 992px) {
      .compound-container .product-floor .product-container .item {
        width: 48.2%; } }
    @media screen and (min-width: 768px) {
      .compound-container .product-floor .product-container .item {
        width: 31.6%; } }
  .compound-container .ad-banner {
    margin: 20px 0; }
    @media screen and (min-width: 768px) {
      .compound-container .ad-banner .row .item a img {
        height: 102px; } }
    @media screen and (min-width: 992px) {
      .compound-container .ad-banner .row .item a img {
        height: 110px; } }
    @media screen and (min-width: 1200px) {
      .compound-container .ad-banner .row .item a img {
        height: 130px; } }
    .compound-container .ad-banner .row .item a img {
      width: 100%; }
  .compound-container .recommend-band {
    margin: 20px 0;
    background: #fff; }
    .compound-container .recommend-band .frame {
      width: 94%;
      margin: 0 auto;
      position: relative;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      white-space: nowrap; }
    .compound-container .recommend-band .slides {
      display: inline-block;
      margin: 0; }
    .compound-container .recommend-band li {
      position: relative;
      display: inline-block; }
    .compound-container .recommend-band .js_slide {
      width: 200px;
      height: 140px;
      margin: 0 20px;
      background: #000;
      color: #fff; }
      .compound-container .recommend-band .js_slide img {
        height: 140px; }
    .compound-container .recommend-band .slider {
      position: relative; }
      .compound-container .recommend-band .slider .js_prev {
        position: absolute;
        width: 3%;
        height: 140px;
        top: 0;
        padding-top: 60px;
        padding-left: 10px;
        background: #e9e9e9;
        box-sizing: border-box;
        left: 0; }
      .compound-container .recommend-band .slider .js_next {
        position: absolute;
        width: 3%;
        height: 140px;
        top: 0;
        padding-top: 60px;
        padding-left: 10px;
        background: #e9e9e9;
        box-sizing: border-box;
        right: 0; }
      .compound-container .recommend-band .slider .js_prev:hover {
        background: #989898; }
      .compound-container .recommend-band .slider .js_next:hover {
        background: #989898; }

footer {
  width: 100%;
  height: 300px;
  background: #000; }

/*# sourceMappingURL=index.css.map */
