@import 'common.scss';
@import 'select.scss';
@import 'product.css';

.fade {
    opacity: 0.8;
}

#wrap {
    margin: 0 auto;
}

.ad-prime {
    .carousel-inner {
        .item {
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
}
.ad-sub {
    margin: 10px 0;
    img {
        width: 100%;
    }
}

.seconds-kill {
    .nav {
        background: #a2a2a2;
        .today {
            width: 30%;
            a {
                text-align: right;
                background: $mainred;
                h3 {
                    margin: 0;
                    line-height: 40px;  
                    padding-right: 20px;
                }
                p {
                    text-align: right;
                    line-height: 20px;
                    font-size: 1vw;
                    padding-right: 20px;
                }
            }
            a:hover {
                background: $mainred;
            }
            @media screen and (max-width: 788px) {
                a {
                    h3 {
                        font-size: 18px;
                    }
                }
            }
            @media screen and (max-width: 414px) {
                a {
                    h3 {
                        font-size: 12px;
                    }
                }
            }
        }
        .today.active {
            width: 30%;
            // background: $mainred;
            a {
                background: $mainred;
            }
        }
        li {
            width: 12%;
            // height: 60px;
            line-height: 40px;
            padding: 0;
            border: none;
            margin: 0;
            @include transition-fast;
            a {
                margin: 0;
                height: 60px;
                padding: 0 !important;
                text-align: center;
                font-size: 3em;
                color: #fff;
                border: none;
                @media screen and (max-width: 768px) {
                    p {
                        font-size: 0.5em;
                    }
                }
                p {
                    display: block;
                    width: 100%;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    margin: 0;
                }
            }
            a:hover {
                color: #fff;
                background: #7b7b7b;
            }
        }
        li.active {
            width: 22%;
            background: #232323;
            a {
                font-weight: 400;
                color: #fff;
                background: #232323;
            }
        }
    }
    .tab-content {
        .tab-pane {
            // @include transition;
            .carousel-indicators {
                left: 66%;
                text-align: right;
                li {
                    width: 20px;
                    height: 20px;
                    margin: 0;
                    padding-right: 6px;
                    line-height: 20px;
                    border: none;
                    color: #e91e63;
                }
                li.active {
                    color: #fff;
                    background: #e91e63;
                }
            }
            .carousel-inner {
                img {
                    width: 100%;
                }
            }
        }
    }
}

.new-product {
    .head {
        @include banner-title;
        background: #000;
        h2 {
            display: inline-block;
            color: red;
        }
        h3 {
            display: inline-block;
            }
    }

    .product-container {
        @include product;
        .item {
            width: 23.4%;
            .thumbnail {
                height: 226px;
            }
            .cost {
                margin-top: 20px;
            }
        }
        @media screen and (max-width: 1200px) {
            .item {
                .thumbnail {
                    height: 190px;
                }
                .cost {
                    .buy {
                        float: left;
                    }
                }
            }

        }
        @media screen and (max-width: 992px) { 
            .item {
                width: 31.6%;
                .thumbnail {
                    height: 190px;
                    
                }
            }
        }
        @media screen and (max-width: 768px) {
            .item {
                width: 48.2%;
                .thumbnail {
                    height: 100%;
                    // min-height: 200px;
                    img {
                        max-width: 100%;
                        min-width: 100%;
                        // height: 100%;
                    }
                }
                .cost {
                    .buy {
                        float: right;
                    }
                }
            }
        }
    }
}



.compound-container {
    // position: absolute;
    background: #f4f4f4;
    // width: 100%;
    .product-floor {
        position: relative;
        .title {
            position: relative;
            text-align: center;
            @include banner-title;
            h1 {
            }
            .floor-num {
                display: block;
                position: absolute;
                box-sizing: border-box;
                height: 100%;
                padding-top: 10px;
                margin: 0 20px 0 0;
                color: #000;
                right: 56%;
            }
            @media screen and (max-width: 992px) { 
                .floor-num {
                    right: 60%;
                }
            }
            .floor-name {
                display: inline-block;
            }
        }
        .more {
            position: relative;
            width: 100%;
            height: 50px;
            a {
                position: absolute;
                right: 0;
                width: 200px;
                border: 4px solid #e9e9e9;
                text-align: center;
                background: #fff;
                p {
                    display: inline-block;
                    height: 50px;
                    line-height: 50px;
                    margin: 0;
                }
                p:first-child {
                    font-size: 20px;
                    color: #000;
                }
                p:last-child {
                    font-size: 20px;
                    color: #ccc;
                }
            }
            a:hover {
                background: #a7a7a7;
                p {
                    color: #fff;
                }
            }
        }
        .product-container {
            @include product;
            .item {
                width: 23.4%;
                .thumbnail {
                    height: 255px;
                }
            }
            @media screen and (max-width: 1200px) {
                .item {
                    .thumbnail {
                        height: 213px;
                    }
                    .cost {
                        .buy {
                            float: left;
                        }
                    }
                }
            }
            @media screen and (max-width: 992px) { 
                .item {
                    width: 31.6%;
                    .thumbnail {
                        height: 190px;
                        
                    }
                }
            }
            @media screen and (max-width: 768px) {
                .item {
                    width: 48.2%;
                    .thumbnail {
                        height: 100%;
                    }
                    .cost {
                        .buy {
                            float: right;
                        }
                    }
                }
            }

        }
    }
    .ad-banner {
        margin: 20px 0;
        .row {
            .item+.item {
            }
            .item {
                a {
                    @media screen and (min-width: 768px) {
                        img {
                            height: 102px;
                        }
                    }
                    @media screen and (min-width: 992px) {
                        img {
                            height: 110px;
                        }
                    }
                    @media screen and (min-width: 1200px) { 
                        img {
                            height: 130px;
                        }
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .recommend-band {
        margin: 20px 0;
        @include lory;
        background: #fff;
        .slider {
            position: relative;
            @mixin slide-btn {
                position: absolute;
                width: 30px;
                height: 80px;
                top: 0;
                padding-top: 30px;
                padding-left: 8px;
                background: #e9e9e9;
                box-sizing: border-box;
                img {
                    height: 20px;
                }
            }
            .js_prev {
                @include slide-btn;
                left: 0;
            }
            .js_next {
                @include slide-btn;
                right: 0;
            }
            .js_prev:hover {
                background: #989898;
            }
            .js_next:hover {
                background: #989898;
            }
        }
    }
}

.sidebar .product-container {
    // position: absolute;
    @include product;
    padding: 0;
    .item {
        .desc {
            p {
                font-size: 12px;
                line-height: 12px;
            }
        }
        .cost {
            p {
                font-size: 14px !important;
            }
            .price-origin:before {
                top: 16px;
            }
        }
    }
}

.sidebar .nav-second {
    margin-top: -20px;
    .hot-sale {
        background: #6d6d6d;
        a {
            color: #fff;
        }
    }
}

.selectNumberScreen {
    width: 100%;
    background: #fff;
}

.crumbs {
    height: 50px;
    padding: 10px 20px;
    background: #fff;
    border: 4px solid #ccc;
    // box-sizing: border-box;
    span {
        font-size: 16px;
    }
}

.sort {
    button {
        float: left;
        margin-right: 20px;
    }
    .dropdown {
        float: left;
        margin-right: 20px;
    }
    .form-control {
        width: 200px;
    }
}

#select-list {
    button {
        border: none;
    }
    .select {
        padding: 5px 10px;
        border: #ddd 1px solid;
        border-radius: 4px;
        margin: 5% auto;
        font-size: 12px
    }
    .select li {
        list-style: none;
        padding: 10px 0 5px 100px
    }
    .select .select-list {
        border-bottom: #eee 1px dashed
    }
    .select dl {
        zoom: 1;
        position: relative;
        line-height: 24px;
        margin: 0;
    }
    .select dl:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        overflow: hidden
    }
    .select dt {
        width: 100px;
        margin-bottom: 5px;
        position: absolute;
        top: 0;
        left: -100px;
        text-align: right;
        color: #666;
        height: 24px;
        line-height: 24px
    }
    .select dd {
        float: left;
        display: inline;
        margin: 0 0 5px 5px;
    }
    .select button {
        display: inline-block;
        white-space: nowrap;
        height: 24px;
        padding: 0 10px;
        text-decoration: none;
        color: #33374a;
        border-radius: 2px;
    }
    .select button:hover {
        color: #fff;
        background-color: #ffc107;
    }
    .select .selected button {
        color: #fff;
        background-color: #00bcd4;
    }
    .select-result dt {
        font-weight: bold
    }
    .select-no {
        color: #999;
    }
    .select .select-result button {
        padding-right: 20px;
        background: #00bcd4 url("../img/close-select.gif") right 9px no-repeat
    }
    .select .select-result button:hover {
        background-position: right -15px
    }
    .btn-collapse {
        width: 60px;
        height: 20px;
        margin: 0 auto;
        cursor: pointer;
        span {
            display: block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            margin: 0 auto;
            transform: rotate(90deg);
        }
    }
    .btn-collapse:hover {
        background: #ccc;
    }
    .btn-collapse.active {
        span {
            transform: rotate(270deg);
        }
    }
}

#page_top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: -50px;
    z-index: 1000;
    -moz-transition: right 0.4s ease,bottom 0.4s ease;
    -o-transition: right 0.4s ease,bottom 0.4s ease;
    -webkit-transition: right 0.4s ease,bottom 0.4s ease;
    transition: right 0.4s ease,bottom 0.4s ease;
    img {
        width: 100%;
        height: 100%;
    }
}

#page_top.scroll {
    right: 10px;
    -moz-transition: right 0.4s ease,bottom 0.4s ease;
    -o-transition: right 0.4s ease,bottom 0.4s ease;
    -webkit-transition: right 0.4s ease,bottom 0.4s ease;
    transition: right 0.4s ease,bottom 0.4s ease;
}


