$bbubble-d: 4.5rem;
$sbubble-d: .375rem;

@mixin sh($k) {
	$sh: ();
	$n: 7;
	$ba: 360deg/$n;
	$r: (1 + $k*.25)*.5*$bbubble-d;
	
	@for $i from 0 to $n {
		$ca: $i*$ba - 90deg;
		$x0: $r*cos($ca);
		$y0: $r*sin($ca);
		
		@for $j from 0 to 2 {
			$pa: $ca + 60deg + $j*180deg;
			$x: $x0 + $sbubble-d*cos($pa);
			$y: $y0 + $sbubble-d*sin($pa);
			
			$sh: $sh, 
				$x $y 0 (-$k*.5*$sbubble-d) 
				hsl(($i + $j)*$ba, 100%, 75%);
		}
	}
	
	box-shadow: $sh;
}

body {
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin: 0;
	height: 100vh;
	// background: linear-gradient(135deg, 
	// 	#121721, #000);
}

[type='checkbox'] {
	position: absolute;
	left: -100vw;
	
	+ label {
		align-self: center;
		position: relative;
		color: darkgrey;
		font-size: 2em;
		cursor: pointer;
		
		&:before, &:after {
			position: absolute;
			z-index: -1;
			top: 50%; left: 50%;
			border-radius: 50%;
			animation: inherit;
			content: '';
		}
		
		&:before {
			margin: -.5*$bbubble-d;
			width: $bbubble-d;
			height: $bbubble-d;
			transform: scale(0);
			background: currentColor;
			color: #e2264d;
		}
		
		&:after {
			margin: -.5*$sbubble-d;
			width: $sbubble-d;
			height: $sbubble-d;
			opacity: .001;
		}
	}
	
	&:checked + label {
		color: #e2264d;
		will-change: font-size;
		animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
		
		&:before {
			will-change: transform, box-shadow, 
				background-color, color;
			animation-name: bbubble;
		}
		
		&:after {
			will-change: opacity, box-shadow;
			animation-name: sbubble;
			animation-timing-function: ease-out
		}
	}
}

@keyframes heart {
	0%, 10% { font-size: 0; }
}

@keyframes bbubble {
	20% {
		transform: scale(1);
		box-shadow:
				inset 0 0 1rem currentColor;
		background-color: currentColor;
		color: #cc8ef5;
	}
	25% {
		background-color: rgba(#cc8ef5, 0);
	}
	39% {
		box-shadow: inset 0 0 0 currentColor;
	}
	40%, 100% {
		transform: scale(1);
		box-shadow: none;
		background-color: rgba(#cc8ef5, 0);
		color: #cc8ef5;
	}
}

@keyframes sbubble {
	20% { opacity: .001; }
	23% {
		opacity: .999;
		@include sh(0);
	}
	100% {
		opacity: .999;
		@include sh(1);
	}
}