$green: #4caf50;
$blue: #4c7aaf;
$purple: #634caf;
$orange: #ff9e57;
$theme: #5bc0de;


* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none !important;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul {
	list-style: none;
}

html {
	display: block;
	// width: 1000px;
}

body {
	width: auto;
	background: #ccc;
	font-size: 10px;
	font-family: 'Titillium Web', sans-serif;
}


.clearfix:after {
	display: block;
	content: "";
	height: 0;
	clear: both;
	visiblity: hidden;
}

@mixin transition {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@keyframes jumpin {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
	30% {
		opacity: 1;
		-webkit-transform: scale(1.02);
		-moz-transform: scale(1.02);
		-o-transform: scale(1.02);
		transform: scale(1.02);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(0.975);
		-moz-transform: scale(0.975);
		-o-transform: scale(0.975);
		transform: scale(0.975);
	}
	85% {
		opacity: 1;
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
		-o-transform: scale(1.01);
		transform: scale(1.01);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes jumpin {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
	30% {
		opacity: 1;
		-webkit-transform: scale(1.02);
		-moz-transform: scale(1.02);
		-o-transform: scale(1.02);
		transform: scale(1.02);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(0.975);
		-moz-transform: scale(0.975);
		-o-transform: scale(0.975);
		transform: scale(0.975);
	}
	85% {
		opacity: 1;
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
		-o-transform: scale(1.01);
		transform: scale(1.01);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes jumpin {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
	30% {
		opacity: 1;
		-webkit-transform: scale(1.02);
		-moz-transform: scale(1.02);
		-o-transform: scale(1.02);
		transform: scale(1.02);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(0.975);
		-moz-transform: scale(0.975);
		-o-transform: scale(0.975);
		transform: scale(0.975);
	}
	85% {
		opacity: 1;
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
		-o-transform: scale(1.01);
		transform: scale(1.01);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-o-keyframes jumpin {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
	30% {
		opacity: 1;
		-webkit-transform: scale(1.02);
		-moz-transform: scale(1.02);
		-o-transform: scale(1.02);
		transform: scale(1.02);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(0.975);
		-moz-transform: scale(0.975);
		-o-transform: scale(0.975);
		transform: scale(0.975);
	}
	85% {
		opacity: 1;
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
		-o-transform: scale(1.01);
		transform: scale(1.01);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

// @media screen and (max-width: 400px) { 
// 	.profile-tabs {
// 		transform: scale(0.8);
// 	}
// }





.top-nav {
	position: fixed;
	width: 100%;
	height: 70px;
	// padding: 10px 40px;
	background: transpaent;
	box-sizing: border-box;
	@include transition;
	z-index: 1;
	.nav-head {
		float: left;
		margin-left: 40px;
		line-height: 50px;
		font-size: 2em;
		color: #fff;
	}
	@media screen and (max-width: 768px) { 
		.nav-btn {
			display: block;
		}
	}
	.nav-btn {
		display: none;
		position: relative;
		float: right;
		margin: 15px 60px 0 0;
		span {
			display: block;
			width: 30px;
			height: 3px;
			background: #fff;
		}
		span:nth-child(1) {
			position: absolute;
			top: 0;
		}
		span:nth-child(2) {
			position: absolute;
			top: 10px;
		}
		span:nth-child(3) {
			position: absolute;
			top: 20px;
		}
		
	}
	@media screen and (max-width: 768px) { 
		.nav-btn {
			display: block;
		}
	}
	.nav-contact {
		float: right;
		margin-right: 30px;
		box-sizing: border-box;
		ul {
			display: inline-block;
			li {
				float: left;
				margin-left: 30px;
				a {
					// background: transparent;
					line-height: 50px;
					font-size: 2em;
					color: #fff;
					@include transition;
				}
			}
		}
	}
}



.top-nav.show {
	background: rgba($theme, 0.9);
	box-shadow: 0 10px 30px rgba(#000, 0.4);
	@media screen and (max-width: 768px) { 
		.nav-contact {
			ul {
				li {
					a {
						background: rgba($theme, 0.9);
					}
				}
			}
		}
	}
}




.header {
	height: 380px;
	background: url(../img/bg8.jpeg);
	background-size: cover;
	background-position: 50% 10%;
}

.main {
	margin: -60px 30px 0;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	.content {
		height: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
		.profile {
			text-align: center;
			.avatar {
				img {
					width: 140px;
					margin: -80px auto 0;
					border-radius: 100%;
					border: 4px solid hsla(0, 0%, 100%, .1);
					background-clip: padding-box;
					box-sizing: border-box;
					box-shadow: 0 2px 20px  6px rgba(#000, 0.4);
				}
			}
			.name {
				margin-top: 20px;
				font-size: 2.4em;
			}
		}
		.description {
			width: 600px;
			margin: 40px auto 0;
			text-align: center;
			p {
				line-height: 1.8em;
				font-size: 1.4em;
				color: #999999;
			}
		}
		.profile-tabs {
			position: relative;
			margin: 60px auto 0;
			width: 600px;
			text-align: center;
			.tablist {
				display: inline-block;
				li {
					float: left;
					margin: 0 1px;
					a {
						position: relative;
						display: block;
						width: 100px;
						height: 100px;
						border-radius: 4px;
						background: tansparent;
						text-align: center;
						// line-height: 12em;
						padding-top: 70%;
						font-size: 1.2em;
						color: #555;
						box-sizing: border-box;
						@include transition;
						i {
							position: absolute;
							top: 20px;
							left: 35px;
							font-size: 30px;
						}
					}
					a:hover {
						background: #f5f5f5;
					}
					a.active {
						background: $theme;
						box-shadow: 0 20px 20px -10px rgba($theme, 0.4),  0 4px 25px 0 rgba(#000, 0.2);
						color: #fff;
					}
				}
			}
			.tab-content {
				display: none;
				position: absolute;
				width: 600px;
				margin-top: 50px;
				@include transition;
				-webkit-animation: jumpin 0.6s ease;
				-moz-animation: jumpin 0.6s ease;
				-o-animation: jumpin 0.6s ease;
				animation: jumpin 0.6s ease;
			}
			.tab-content.show {
				display: block;
			}
			.tab-content.skill {
				.skill-bar {
					margin-bottom: 20px;
					p {
						font-size: 2em;
					}
					.progress {
						width: 400px;
						margin: 10px auto !important;
					}
					@media screen and (max-width: 768px) { 
						.progress {
							width: 300px;
						}
					}
					@media screen and (max-width: 400px) { 
						.progress {
							width: 200px;
						}
					}
				}
			}
			.tab-content.work {
				position: relative;
				.btn {
					font-size: 3em;
					color: #989898;
					margin-top: 100px;
					z-index: 1;
					cursor: pointer;
					@include transition;
				}
				.btn:hover {
					color: $theme;
				}
				.btn-l {
					margin-left: 30px;
					float: left;
				}
				.btn-r {
					margin-right: 30px;
					float: right;
				}
				.dot {
					position: absolute;
					bottom: 40px;
					left: 270px;
					cursor: pointer;
					z-index: 1;
					ul {
						li {
							float: left;
							width: 8px;
							height: 8px;
							margin-left: 8px;
							background: #989898;
							border-radius: 100%;
						}
						li.active {
							background: $theme;
						}
					}
				}
				.img-container {
					position: relative;
					width: 400px;
					height: 300px;
					margin-left: 100px;
					overflow: hidden;
					ul {
						position: absolute;
						width: 420px * 5;
						left: 0;
						@include transition;
						li {
							float: left;
							margin-right: 20px;
							a {
								position: relative;
								display: block;
								width: 400px;
								img {
									width: 400px;
									// @include border-radius;
								}
								.mask {
									position: absolute;
									display: block;
									top: 0;
									left: 0;
									width: 400px;
									height: 100%;
									background: #000;
									opacity: 0;
									@include transition;
									// border-radius: 14px;
									// @include border-radius;
								}
								.mask:hover {
									opacity: 0.4;
									// border-radius: 14px;
									// @include border-radius;
								}
							}
						}
					}
				}
			}
			
			.tab-content.favourite {
				padding-left: 100px;
				.fav-container {
					position: relative;
					width: 100%;
					height: 400px;
				}
				.fav-img {
					position: absolute;
					width: 200px;
					// height: auto;
					img {
						width: 200px;
						// display: block;

						// float: left;
						// transform: scale(0.2);
						// margin-left: 20px;
						// margin-bottom: 20px;
						// height: 200px;
						border-radius: 10px;
					}
				}
			}
			@media screen and (max-width: 768px) { 
				.tab-content.favourite {
					padding-left: 10px !important;
					.fav-container {
						position: relative;
						width: 400px;
						height: 400px;
					}
					.fav-img {
						position: absolute;
						width: 150px;
						img {
							width: 150px;
							border-radius: 10px;
						}
					}
				}
			}
			@media screen and (max-width: 400px) { 
				.tab-content.favourite {
					height: 300px;
					padding-left: 0 !important;
					overflow: scroll;
					.fav-container {
						position: relative;
						width: 100%;
						// height: 400px;
					}
					.fav-img {
						float: left;
						position: relative !important;
						width: 100% !important;
						margin-bottom: 10px;
						img {
							width: 100% !important;
							border-radius: 10px;
						}
					}
				}
			}
		}
	}
}

// @mixin border-radius {
// 	border-radius: 14px;
// }

footer {
	padding: 15px 100px;
	.container {
		position: relative;
		.footer-nav {
			float: left;
			ul {
				li {
					display: inline-block;
					a {
						display: block;
						padding: 20px;
						color: #000;
						font-size: 1.2em;
						font-weight: bolder;
					}
					a:hover {
						color: #6500b9;
					}
				}
			}
		}
		.copyright {
			float: right;
			padding: 15px 0;
			font-size: 1.5em;
		}
	}
	@media screen and (max-width: 768px) { 
		.footer-nav {
			float: none !important;
			text-align: center;
			ul {
				li {
					a {
						padding: 10px 20px !important;
						font-size: 1.5em !important;
					}
				}
			}
		}
		.copyright {
			float: none !important;
			padding: 0 !important;
			text-align: center;
		}
  	}
}


@media screen and (max-width: 768px) { 
	.top-nav {
		.nav-contact {
			width: 100%;
			height: 0;
			margin-top: 20px;
			margin-right: 0 !important;
			box-shadow: 0 20px 30px rgba(#000, 0.4);
			overflow: hidden;
			@include transition;
			ul {
				width: 100%;
				position: relative;
				box-sizing: border-box;
				margin: 0;
				li {
					width: 100%;
					position: relative;
					margin: 0 !important;
					a {
						display: block;
						width: 100%;
						height: 50px;
						background: transparent;
						text-align: center;
					}
				}
			}
		}
		.nav-contact.active {
			height: 100px;
		}
	}
	.wrap {
		.header {
		}
		.main {
			.content {
				height: 900px;
				.profile {

				}
				.profile-tabs {
					width: 306px; 
					.tablist {
					}
					.tab-content {
						width: auto;
						.skill-bar {
							p {
								font-size: 1em !important;
							}
						}
						// .progress {
						// 	width: 300px !important;
						// 	height: 15px;
						// 	margin: 10px 30px !important;
						// }
					}
					.tab-content.work {
						// height: 80%;
						position: relative;
						margin-top: 0;
						margin-left: 0;
						.btn {
							margin-top: 120px;
						}
						.btn-l {
							margin-left: -20px;
						}
						.btn-r {
							margin-right: -20px;
						}
						.dot {
							left: 120px;
							bottom: -80px;
						}
						.img-container {
							position: absolute;
							top: 60px;
							left: 28px;
							width: 250px;
							margin-left: 0;
							a {
								width: auto;
								img {
									width: 250px;
								} 
								.mask {
									display: none;
								}
							}
						}
					}
				}
			}
			.description {
				width: 80% !important; 
				p {
					font-size: 1em !important;
				}
			}
		}
	}
}

@media screen and (max-width: 400px) { 
	.profile-tabs {
		width: 100% !important;
		margin: 30px 0 !important;
		.tablist {
			// width: 100% !important;
			li {
				width: auto !important;
				// height: 30% !important;
				a {
					// display: block;
					width: 70px !important;
					height: 70px !important;
					font-size: 0.8em !important;
					// line-height: 14em !important;
					// padding-top: 30% !important;
					i {
						left: 28px !important;
						font-size: 2em !important;
					}
				}
			}
		}
		.tab-content {
			width: 100% !important;
			.skill-bar {
				// margin-left: 10% !important;
			}
			// .progress {
			// 	width: 200px !important;
			// }
		}
		.tab-content.work {
			// height: 80%;
			position: relative;
			margin-top: 0;
			margin-left: 0;
			text-align: center;
			.btn {
				position: absolute !important;
				margin-top: 0px !important;
				top: 60px;
			}
			.btn-l {
				margin-left: 0px !important;
				left: 0;
			}
			.btn-r {
				margin-right: 0px !important;
				right: 0;
			}
			.dot {
				left: 35% !important;
				bottom: 150px !important;
			}
			.img-container {
				position: relative !important;
				margin: 40px auto !important;
				top: 0 !important;
				left: 0 !important;
				width: 150px !important;
				// margin-left: -75px;
				a {
					width: auto;
					img {
						width: 150px !important;
					} 
					.mask {
						display: none;
					}
				}
			}
		}
	}
}

